# 1. ë°ì´í„° ë° ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°

## 1) ë°ì´í„°ì…‹ ë³‘í•© ë° Rename

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", font="Malgun Gothic")

df_info = pd.read_csv("../data/raw/big_data_set1_f.csv", encoding="cp949")
df_usage = pd.read_csv("../data/raw/big_data_set2_f.csv", encoding="cp949")
df_customer = pd.read_csv("../data/raw/big_data_set3_f.csv", encoding="cp949")

In [2]:
# ì»¬ëŸ¼ëª… ë¦¬ë„¤ì´ë°
rename_info = {
    "ENCODED_MCT": "num",        # ê°€ë§¹ì ID
    "MCT_BSE_AR": "addr",        # ì£¼ì†Œ
    "MCT_NM": "name",            # ê°€ë§¹ì ëª…
    "MCT_BRD_NUM": "brand_cd",   # ë¸Œëœë“œì½”ë“œ
    "MCT_SIGUNGU_NM": "sigungu", # ì§€ì—­(ì‹œêµ°êµ¬)
    "HPSN_MCT_ZCD_NM": "biz_type", # ì—…ì¢…
    "HPSN_MCT_BZN_CD_NM": "market", # ìƒê¶Œ
    "ARE_D": "open",             # ê°œì„¤ì¼
    "MCT_ME_D": "close"          # íì—…ì¼
}

rename_usage = {
    "ENCODED_MCT": "num",          # ê°€ë§¹ì ID
    "TA_YM": "ym",                 # ê¸°ì¤€ë…„ì›”

    "MCT_OPE_MS_CN": "oper_month_grp", # ìš´ì˜ ê°œì›” êµ¬ê°„
    "RC_M1_SAA": "sales_grp",      # ë§¤ì¶œê¸ˆì•¡ êµ¬ê°„
    "RC_M1_TO_UE_CT": "txn_cnt_grp", # ë§¤ì¶œê±´ìˆ˜ êµ¬ê°„
    "RC_M1_UE_CUS_CN": "cust_cnt_grp", # ìœ ë‹ˆí¬ ê³ ê° ìˆ˜ êµ¬ê°„
    "RC_M1_AV_NP_AT": "avg_pay_grp",   # ê°ë‹¨ê°€ êµ¬ê°„
    "APV_CE_RAT": "cancel_rate_grp",   # ì·¨ì†Œìœ¨ êµ¬ê°„

    "DLV_SAA_RAT": "delivery_sales_ratio",  # ë°°ë‹¬ ë§¤ì¶œ ë¹„ìœ¨
    "M1_SME_RY_SAA_RAT": "rel_sales_ratio", # ì—…ì¢… ëŒ€ë¹„ ë§¤ì¶œ ë¹„ìœ¨
    "M1_SME_RY_UE_CT": "rel_txn_ratio",     # ì—…ì¢… ëŒ€ë¹„ ê±´ìˆ˜ ë¹„ìœ¨

    "M12_SME_RY_SAA_PCE_RT": "sales_rank_industry", # ì—…ì¢… ë‚´ ë§¤ì¶œ ìˆœìœ„(%)  
    "M12_SME_BZN_SAA_PCE_RT": "sales_rank_market",  # ìƒê¶Œ ë‚´ ë§¤ì¶œ ìˆœìœ„(%)  
    "M12_SME_RY_ME_MCT_RAT": "share_sales_industry",# ì—…ì¢… ë‚´ í•´ì§€ ê°€ë§¹ì  ë¹„ì¤‘  
    "M12_SME_BZN_ME_MCT_RAT": "share_sales_market"  # ìƒê¶Œ ë‚´ í•´ì§€ ê°€ë§¹ì  ë¹„ì¤‘
}

rename_customer = {
    "ENCODED_MCT": "num",   # ê°€ë§¹ì ID
    "TA_YM": "ym",          # ê¸°ì¤€ë…„ì›”

    # ì„±ë³„/ì—°ë ¹ë³„ ë¹„ìœ¨
    "M12_MAL_1020_RAT": "male_20below_ratio",
    "M12_MAL_30_RAT": "male_30_ratio",
    "M12_MAL_40_RAT": "male_40_ratio",
    "M12_MAL_50_RAT": "male_50_ratio",
    "M12_MAL_60_RAT": "male_60plus_ratio",

    "M12_FME_1020_RAT": "female_20below_ratio",
    "M12_FME_30_RAT": "female_30_ratio",
    "M12_FME_40_RAT": "female_40_ratio",
    "M12_FME_50_RAT": "female_50_ratio",
    "M12_FME_60_RAT": "female_60plus_ratio",

    # ê³ ê° í–‰ë™ ì§€í‘œ
    "MCT_UE_CLN_REU_RAT": "revisit_ratio",  # ì¬ë°©ë¬¸ ê³ ê° ë¹„ìœ¨
    "MCT_UE_CLN_NEW_RAT": "new_ratio",      # ì‹ ê·œ ê³ ê° ë¹„ìœ¨

    # ê³ ê° ìœ í˜• ë¹„ìœ¨
    "RC_M1_SHC_RSD_UE_CLN_RAT": "resident_ratio", # ê±°ì£¼ ì¸êµ¬ ê³ ê° ë¹„ìœ¨
    "RC_M1_SHC_WP_UE_CLN_RAT": "worker_ratio",    # ì§ì¥ì¸ ê³ ê° ë¹„ìœ¨
    "RC_M1_SHC_FLP_UE_CLN_RAT": "floating_ratio"  # ìœ ë™ì¸êµ¬ ê³ ê° ë¹„ìœ¨
}

In [3]:

# 1. ë¦¬ë„¤ì´ë° ì ìš©
df_info.rename(columns=rename_info, inplace=True)
df_usage.rename(columns=rename_usage, inplace=True)
df_customer.rename(columns=rename_customer, inplace=True)


# 2. ë‚ ì§œ ë³€í™˜
for col in ["open", "close"]:
    df_info[col] = (
        df_info[col]
        .astype(str)                              # ìˆ«ì â†’ ë¬¸ìì—´
        .str.replace(r"\D", "", regex=True)       # ìˆ«ì ì™¸ ë¬¸ì ì œê±°
        .str.slice(0, 8)                          # ì• 8ìë¦¬ë§Œ ì‚¬ìš© (YYYYMMDD)
    )
    df_info[col] = pd.to_datetime(df_info[col], format="%Y%m%d", errors="coerce")

# ym: YYYYMM ìˆ«ì â†’ ë¬¸ìì—´ ë³€í™˜ í›„ íŒŒì‹±
df_usage["ym"]    = pd.to_datetime(df_usage["ym"].astype(str), format="%Y%m", errors="coerce")
df_customer["ym"] = pd.to_datetime(df_customer["ym"].astype(str), format="%Y%m", errors="coerce")

print("usage ê¸°ê°„:", df_usage["ym"].min(), "~", df_usage["ym"].max())
print("customer ê¸°ê°„:", df_customer["ym"].min(), "~", df_customer["ym"].max())


# 3. ì›”ë³„ ë°ì´í„° ë³‘í•©
df_monthly = pd.merge(df_usage, df_customer, on=["num", "ym"], how="outer")
print("ì›”ë³„ ë³‘í•© í¬ê¸°:", df_monthly.shape)


# 4. ê¸°ë³¸ ì •ë³´ ë¶™ì´ê¸°
df_final = pd.merge(df_monthly, df_info, on="num", how="left")


# 5. íì—… ì—¬ë¶€ í”Œë˜ê·¸
df_final["is_closed"] = df_final["close"].notnull().astype(int)


# 6. íŠ¹ìˆ˜ ê²°ì¸¡ì¹˜ ì¹˜í™˜
for bad in [-999999.9, -999999, "-999999.9", "-999999"]:
    df_final.replace(bad, pd.NA, inplace=True)


# 7. ìˆ«ìí˜• ë³€í™˜ (ë¹„ìœ¨/ë­í¬ ë“±)
ratio_cols = [
    "delivery_sales_ratio", "rel_sales_ratio", "rel_txn_ratio",
    "sales_rank_industry", "sales_rank_market",
    "share_sales_industry", "share_sales_market",
    "revisit_ratio", "new_ratio",
    "resident_ratio", "worker_ratio", "floating_ratio",
    "male_20below_ratio", "male_30_ratio", "male_40_ratio",
    "male_50_ratio", "male_60plus_ratio",
    "female_20below_ratio", "female_30_ratio", "female_40_ratio",
    "female_50_ratio", "female_60plus_ratio",
]
for c in ratio_cols:
    if c in df_final.columns:
        df_final[c] = pd.to_numeric(df_final[c], errors="coerce")


# 8. ë²”ì£¼í˜• ë³€í™˜
group_cols = [
    "oper_month_grp", "sales_grp", "txn_cnt_grp",
    "cust_cnt_grp", "avg_pay_grp", "cancel_rate_grp"
]
for c in group_cols:
    if c in df_final.columns:
        df_final[c] = df_final[c].astype("category")

# 9. ì •ë ¬ (ì¤‘ë³µ ì œê±°ëŠ” í•˜ì§€ ì•ŠìŒ)
df_final = df_final.sort_values(["num", "ym"]).reset_index(drop=True)


# 10. ì €ì¥
df_final.to_csv("../data/processed/df_final.csv", index=False, encoding="utf-8-sig")
print(" ìµœì¢… ë°ì´í„° í¬ê¸°:", df_final.shape)
print(df_final.head())

usage ê¸°ê°„: 2023-01-01 00:00:00 ~ 2024-12-01 00:00:00
customer ê¸°ê°„: 2023-01-01 00:00:00 ~ 2024-12-01 00:00:00
ì›”ë³„ ë³‘í•© í¬ê¸°: (86590, 30)
 ìµœì¢… ë°ì´í„° í¬ê¸°: (86590, 39)
          num         ym oper_month_grp           sales_grp  \
0  000F03E44A 2023-01-01       5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)
1  000F03E44A 2023-02-01       5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)
2  000F03E44A 2023-03-01       5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)
3  000F03E44A 2023-04-01       5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)
4  000F03E44A 2023-05-01       5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)

          txn_cnt_grp        cust_cnt_grp         avg_pay_grp cancel_rate_grp  \
0            5_75-90%            5_75-90%            4_50-75%         1_ìƒìœ„1êµ¬ê°„
1  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)             NaN
2  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)             NaN
3            5_75-90%            5_75-90%            3_25-50%         1_ìƒìœ„1êµ¬ê°„
4            5_75-90%            5_75-90%  6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜)         1_ìƒìœ„1êµ¬ê°„

   delivery_sales_ratio  rel_sales_ratio  ...  floating_ratio  \
0                   NaN              0.5  ...           100.0
1                   NaN              0.0  ...             NaN
2                   NaN              0.0  ...             NaN
3                   NaN              1.3  ...             0.0
4                   NaN              0.0  ...           100.0

                  addr  name  brand_cd  sigungu    biz_type  market  \
0  ì„œìš¸íŠ¹ë³„ì‹œ ì„±ë™êµ¬ ì™•ì‹­ë¦¬ë¡œ4ê°€ê¸¸ 9  ìœ¡ìœ¡**       NaN   ì„œìš¸ ì„±ë™êµ¬  ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘      ëšì„¬
1  ì„œìš¸íŠ¹ë³„ì‹œ ì„±ë™êµ¬ ì™•ì‹­ë¦¬ë¡œ4ê°€ê¸¸ 9  ìœ¡ìœ¡**       NaN   ì„œìš¸ ì„±ë™êµ¬  ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘      ëšì„¬
2  ì„œìš¸íŠ¹ë³„ì‹œ ì„±ë™êµ¬ ì™•ì‹­ë¦¬ë¡œ4ê°€ê¸¸ 9  ìœ¡ìœ¡**       NaN   ì„œìš¸ ì„±ë™êµ¬  ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘      ëšì„¬
3  ì„œìš¸íŠ¹ë³„ì‹œ ì„±ë™êµ¬ ì™•ì‹­ë¦¬ë¡œ4ê°€ê¸¸ 9  ìœ¡ìœ¡**       NaN   ì„œìš¸ ì„±ë™êµ¬  ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘      ëšì„¬
4  ì„œìš¸íŠ¹ë³„ì‹œ ì„±ë™êµ¬ ì™•ì‹­ë¦¬ë¡œ4ê°€ê¸¸ 9  ìœ¡ìœ¡**       NaN   ì„œìš¸ ì„±ë™êµ¬  ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘      ëšì„¬

        open  close  is_closed
0 2022-02-25    NaT          0
1 2022-02-25    NaT          0
2 2022-02-25    NaT          0
3 2022-02-25    NaT          0
4 2022-02-25    NaT          0

[5 rows x 39 columns]

In [4]:
df_final.shape

(86590, 39)

## 2) ê°€ê²Œë³„ ë§¤ì¶œë³€ìˆ˜ ìƒì„±

In [5]:

# 1) ì—…ì¢… í‰ê·  íŒŒì¼ ì½ê¸° (íƒ­ êµ¬ë¶„)
# =========================
avg_sales = pd.read_csv("../data/raw/business category mapping.txt", sep="\t", engine="python")

# ì»¬ëŸ¼ ì •ë¦¬: ê³µë°± ì œê±° â†’ 'ì—…ì¢…','2023ë§¤ì¶œ','2024ë§¤ì¶œ'
avg_sales.columns = avg_sales.columns.str.replace(r"\s+", "", regex=True).str.strip()

# ìˆ«ì ì½¤ë§ˆ ì œê±° â†’ float
for c in ["2023ë§¤ì¶œ", "2024ë§¤ì¶œ"]:
    if c in avg_sales.columns:
        avg_sales[c] = (avg_sales[c].astype(str)
                        .str.replace(",", "", regex=False)
                        .str.strip()
                        .replace({"": np.nan})
                        .astype(float))

# ì—…ì¢… í‚¤(ê³µë°± ì œê±°) ìƒì„±
avg_sales["biz_type2"] = avg_sales["ì—…ì¢…"].astype(str).str.replace(r"\s+", "", regex=True)

# wide â†’ long (ì—°ë„/í‰ê· ë§¤ì¶œ)
avg_long = (avg_sales
            .melt(id_vars=["ì—…ì¢…", "biz_type2"],
                  value_vars=[c for c in ["2023ë§¤ì¶œ","2024ë§¤ì¶œ"] if c in avg_sales.columns],
                  var_name="ì—°ë„ì—´", value_name="í‰ê· ë§¤ì¶œ")
            .dropna(subset=["í‰ê· ë§¤ì¶œ"]))
avg_long["year"] = avg_long["ì—°ë„ì—´"].str.extract(r"(\d{4})").astype(int)
avg_long = avg_long.drop(columns=["ì—°ë„ì—´"])
src_col = "biz_type2"

- ë§¤ì¶œ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [6]:
avg_long.head()

            ì—…ì¢…  biz_type2     í‰ê· ë§¤ì¶œ  year
0           í•œì‹         í•œì‹  24845.8  2023
1      ì¤‘ì‹ ìŒì‹ì ì—…     ì¤‘ì‹ìŒì‹ì ì—…  23531.8  2023
2      ì¼ì‹ ìŒì‹ì ì—…     ì¼ì‹ìŒì‹ì ì—…  29295.3  2023
3     ì„œì–‘ì‹ ìŒì‹ì ì—…    ì„œì–‘ì‹ìŒì‹ì ì—…  22950.3  2023
4  ê¸°íƒ€ ì™¸êµ­ì‹ ìŒì‹ì ì—…  ê¸°íƒ€ì™¸êµ­ì‹ìŒì‹ì ì—…  21279.4  2023

In [7]:
import pandas as pd

def clean_category(s: pd.Series) -> pd.Series:
    if s is None or s.empty:
        return pd.Series(dtype=object)
    return (s.astype("string")
              .str.strip()
              .str.replace(r"\s+", " ", regex=True))

def unify_biz_type(df_final: pd.DataFrame) -> pd.DataFrame:
    """
    df_finalì„ ì…ë ¥ë°›ì•„ biz_type ê¸°ë°˜ìœ¼ë¡œ ì—…ì¢… í†µí•© ë¼ë²¨ì„ ì ìš©í•˜ê³ ,
    ê²°ê³¼ë¥¼ 'biz_type2' ì»¬ëŸ¼ì— ì €ì¥.
    (ê¸°ì¡´ biz_typeì€ ê·¸ëŒ€ë¡œ ìœ ì§€)
    """

    # --- 0) ê¸°ë³¸ ì „ì²˜ë¦¬ ---
    if "biz_type" not in df_final.columns:
        df_final["biz_type"] = pd.Series(dtype=object)
    df_final["biz_type"] = clean_category(df_final.get("biz_type", pd.Series(dtype=object)))

    # í”„ëœì°¨ì´ì¦ˆ ì—¬ë¶€ ìƒì„± (ê¸°ì¡´ ë¡œì§ ìœ ì§€)
    df_final["í”„ëœì°¨ì´ì¦ˆì—¬ë¶€"] = df_final.get("ë¸Œëœë“œêµ¬ë¶„ì½”ë“œ", pd.Series(index=df_final.index)).notna().astype(int)

    # --- 1) ì—…ì¢… í†µí•© ë§¤í•‘ ---
    groups = {
        # í•œì‹
        "í•œì‹": [
            "í•œì‹-ë‹¨í’ˆìš”ë¦¬ì¼ë°˜", "ë°±ë°˜/ê°€ì •ì‹", "ê¸°ì‚¬ì‹ë‹¹", "í•œì‹ë·”í˜",
            "í•œì‹-êµ­ë°¥/ì„¤ë íƒ•", "í•œì‹-ì°Œê°œ/ì „ê³¨", "í•œì‹-ê°ìíƒ•", "í•œì‹-ì£½", "í•œì •ì‹", "í•œì‹-ë‘ë¶€ìš”ë¦¬",
            "í•œì‹-êµ­ìˆ˜/ë§Œë‘", "í•œì‹-ëƒ‰ë©´", "í•œì‹-ìœ¡ë¥˜/ê³ ê¸°", "í•œì‹-í•´ë¬¼/ìƒì„ "
        ],
        # ì¤‘ì‹
        "ì¤‘ì‹ìŒì‹ì ì—…": ["ì¤‘ì‹ë‹¹", "ì¤‘ì‹-í› ê¶ˆ/ë§ˆë¼íƒ•", "ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘"],
        # ì¼ì‹
        "ì¼ì‹ìŒì‹ì ì—…": [
            "ì¼ì‹ë‹¹", "ì´ìì¹´ì•¼", "ê¼¬ì¹˜êµ¬ì´",
            "ì¼ì‹-ë®ë°¥/ëˆê°€ìŠ¤", "ì¼ì‹-ìš°ë™/ì†Œë°”/ë¼ë©´",
            "ì¼ì‹-ìƒ¤ë¸Œìƒ¤ë¸Œ", "ì¼ì‹-ì´ˆë°¥/ë¡¤", "ì¼ì‹-ì°¸ì¹˜íšŒ"
        ],
        # ì„œì–‘/ì™¸êµ­ì‹
        "ì„œì–‘ì‹ìŒì‹ì ì—…": ["ì–‘ì‹", "ìŠ¤í…Œì´í¬"],
        "ê¸°íƒ€ì™¸êµ­ì‹ìŒì‹ì ì—…": ["ë™ë‚¨ì•„/ì¸ë„ìŒì‹", "ê¸°íƒ€ì„¸ê³„ìš”ë¦¬"],
        # íŒ¨ìŠ¤íŠ¸í‘¸ë“œ
        "í”¼ìÂ·í–„ë²„ê±°Â·ìƒŒë“œìœ„ì¹˜ë°ìœ ì‚¬ìŒì‹ì ì—…": ["í”¼ì", "í–„ë²„ê±°", "ìƒŒë“œìœ„ì¹˜/í† ìŠ¤íŠ¸"],
        "ì¹˜í‚¨ì „ë¬¸ì ": ["ì¹˜í‚¨"],
        "ê¹€ë°¥ë°ê¸°íƒ€ê°„ì´ìŒì‹ì ì—…": ["ë¶„ì‹"],
        "ê°„ì´ìŒì‹í¬ì¥íŒë§¤ì „ë¬¸ì ": ["ë„ì‹œë½", "ë°˜ì°¬"],
        # ì œê³¼/ë””ì €íŠ¸
        "ì œê³¼ì ": ["ë² ì´ì»¤ë¦¬", "ë„ë„ˆì¸ ", "ë–¡/í•œê³¼", "ë–¡/í•œê³¼ ì œì¡°", "ë§ˆì¹´ë¡±", "ì™€í”Œ/í¬ë¡œí”Œ", "ì•„ì´ìŠ¤í¬ë¦¼/ë¹™ìˆ˜", "íƒ•í›„ë£¨"],
        # ì»¤í”¼/ìŒë£Œ
        "ì»¤í”¼ì „ë¬¸ì ": ["ì¹´í˜", "ì»¤í”¼ì „ë¬¸ì ", "í…Œì´í¬ì•„ì›ƒì»¤í”¼", "í…Œë§ˆì¹´í˜"],
        "ê¸°íƒ€ë¹„ì•Œì½”ì˜¬ìŒë£Œì ì—…": ["ì£¼ìŠ¤", "ì°¨"],
        # ì£¼ì 
        "ì£¼ì ì—…": ["í˜¸í”„/ë§¥ì£¼", "ì¼ë°˜ ìœ í¥ì£¼ì ", "ë£¸ì‚´ë¡±/ë‹¨ë€ì£¼ì ",
                  "ìš”ë¦¬ì£¼ì ", "í¬ì¥ë§ˆì°¨", "ë¯¼ì†ì£¼ì ", "ì™€ì¸ë°”", "ì™€ì¸ìƒµ", "ì£¼ë¥˜"],
        # êµ¬ë‚´ì‹ë‹¹
        "ê¸°ê´€êµ¬ë‚´ì‹ë‹¹ì—…": ["êµ¬ë‚´ì‹ë‹¹/í‘¸ë“œì½”íŠ¸"],
        # ê¸°íƒ€
        "ê¸°íƒ€": [
            "ë†ì‚°ë¬¼", "ì²­ê³¼ë¬¼", "ì¸ì‚¼ì œí’ˆ", "ê±´ê°•ì‹í’ˆ", "ì‹í’ˆ ì œì¡°", "ë¯¸ê³¡ìƒ",
            "ì‹ë£Œí’ˆ", "ì¶•ì‚°ë¬¼", "ë‹´ë°°", "ê±´ê°•ì›", "ìˆ˜ì‚°ë¬¼", "ê±´ì–´ë¬¼", "ìœ ì œí’ˆ"
        ],
    }

    # --- 2) ì—­ë§¤í•‘ ---
    reverse_map = {raw: merged for merged, raws in groups.items() for raw in raws}

    # --- 3) ë§¤í•‘ ì ìš© ---
    src = df_final["biz_type"].astype("string").str.strip()
    merged = src.map(reverse_map).fillna(src)
    merged = merged.astype("string").str.replace(r"\s+", "", regex=True).str.strip()

    # --- 4) ìƒˆë¡œìš´ ì»¬ëŸ¼ biz_type2 ìƒì„± ---
    df_final["biz_type2"] = merged.astype("category")

    return df_final


df_final = unify_biz_type(df_final)
df_final[["biz_type", "biz_type2"]].head()
df_final["biz_type2"].value_counts()

biz_type2
í•œì‹                    30561
ê¸°íƒ€                    13179
ì»¤í”¼ì „ë¬¸ì                  10788
ì£¼ì ì—…                    6740
ì¼ì‹ìŒì‹ì ì—…                 4896
ì œê³¼ì                     4838
ì„œì–‘ì‹ìŒì‹ì ì—…                3409
ì¹˜í‚¨ì „ë¬¸ì                   2938
ê¹€ë°¥ë°ê¸°íƒ€ê°„ì´ìŒì‹ì ì—…            2867
í”¼ìÂ·í–„ë²„ê±°Â·ìƒŒë“œìœ„ì¹˜ë°ìœ ì‚¬ìŒì‹ì ì—…     2367
ì¤‘ì‹ìŒì‹ì ì—…                 2279
ê¸°íƒ€ì™¸êµ­ì‹ìŒì‹ì ì—…               866
ê°„ì´ìŒì‹í¬ì¥íŒë§¤ì „ë¬¸ì              671
ê¸°íƒ€ë¹„ì•Œì½”ì˜¬ìŒë£Œì ì—…              151
ê¸°ê´€êµ¬ë‚´ì‹ë‹¹ì—…                  40
Name: count, dtype: int64

- df_finalì—ì„œ mappingì„ ìœ„í•œ ìƒˆë¡œìš´ ìƒê¶Œë³€ìˆ˜ ìƒì„±(biz_type2)

In [8]:
#mergeìš©ìœ¼ë¡œ ë…„ë„ë§Œ ë‚˜ì™€ìˆëŠ” yearë³€ìˆ˜ ìƒì„±
df_final["year"] = pd.to_datetime(df_final["ym"], errors="coerce").dt.year

# ë³‘í•©
df_final = pd.merge(
    df_final,
    avg_long[["biz_type2", "year", "í‰ê· ë§¤ì¶œ"]],
    on=["biz_type2", "year"],
    how="left"
)

# ë§¤ì¶œ ì¶”ì • (ë‹¨ìœ„ëŠ” avg_salesì™€ ë™ì¼ ë‹¨ìœ„)
#(ë™ì¼ì—…ì¢… ë§¤ì¶œê¸ˆì•¡ ë¹„ìœ¨ * í•´ë‹¹ë…„ë„ ì—…ì¢… í‰ê·  ë§¤ì¶œê¸ˆì•¡)ì„ í†µí•´ì„œ êµ¬í•¨
df_final["sales_estimate"] = df_final["í‰ê· ë§¤ì¶œ"] * (df_final["rel_sales_ratio"] / 100.0)

# ì¡°ì¸ ë§¤ì¹­ë¥ 
matched = df_final["í‰ê· ë§¤ì¶œ"].notna().mean()
print(f"[ì²´í¬] ì—…ì¢…-ì—°ë„ ë§¤ì¹­ë¥ : {matched:.1%}")

# ìƒ˜í”Œ í™•ì¸
print(df_final[[src_col, "ym", "year", "rel_sales_ratio", "í‰ê· ë§¤ì¶œ", "sales_estimate"]].head())

[ì²´í¬] ì—…ì¢…-ì—°ë„ ë§¤ì¹­ë¥ : 100.0%
  biz_type2         ym  year  rel_sales_ratio     í‰ê· ë§¤ì¶œ  sales_estimate
0    ì¤‘ì‹ìŒì‹ì ì—… 2023-01-01  2023              0.5  23531.8        117.6590
1    ì¤‘ì‹ìŒì‹ì ì—… 2023-02-01  2023              0.0  23531.8          0.0000
2    ì¤‘ì‹ìŒì‹ì ì—… 2023-03-01  2023              0.0  23531.8          0.0000
3    ì¤‘ì‹ìŒì‹ì ì—… 2023-04-01  2023              1.3  23531.8        305.9134
4    ì¤‘ì‹ìŒì‹ì ì—… 2023-05-01  2023              0.0  23531.8          0.0000

In [9]:
#ë§Œë“¤ì—ˆë˜ ë³€ìˆ˜ë“¤ ì œê±°
df_final = df_final.drop(columns=["year", "í‰ê· ë§¤ì¶œ","biz_type2"], errors="ignore")

# 2. Train / Test ë°ì´í„° ë¶„í•

## 1. ë¶„í•  ì „ ë³€ìˆ˜ ì²˜ë¦¬
- ê°€ë§¹ì  ê³ ìœ  ì†ì„± ê´€ë ¨ ë³€ìˆ˜ë“¤ì€ ë¶„í•  ì „ì— ì²˜ë¦¬ ê°€ëŠ¥

In [10]:
# ê²°ì¸¡ì¹˜ í™•ì¸

df_final.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp          6632
delivery_sales_ratio    57345
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      21419
male_20below_ratio       2004
male_30_ratio            2004
male_40_ratio            2004
male_50_ratio            2004
male_60plus_ratio        2004
female_20below_ratio     2004
female_30_ratio          2004
female_40_ratio          2004
female_50_ratio          2004
female_60plus_ratio      2004
revisit_ratio            1643
new_ratio                1643
resident_ratio           7327
worker_ratio             7327
floating_ratio           7327
addr                        0
name                        0
brand_cd                74865
sigungu                     0
biz_type                    0
market                  21419
open                        0
close                   84256
is_closed                   0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
dtype: int64

- brand_cdëŠ” ë™ì¼ ë¸Œëœë“œ ë§¤ì¥ ì‹ë³„ì„ ìœ„í•œ êµ¬ë¶„ ì½”ë“œ<br>
->num ì´ë¼ëŠ” ê³ ìœ  í‚¤ê°€ ìˆìœ¼ë¯€ë¡œ ëª¨ë¸ë§ì—ëŠ” brand_cd ì‚­ì œ
- ëŒ€ì‹  í”„ëœì°¨ì´ì¦ˆ ì—¬ë¶€ ì •ë³´ëŠ” ë‚¨ê²¨ë‘ë©´ ì˜ë¯¸ê°€ ìˆìœ¼ë¯€ë¡œ is_franchise íŒŒìƒë³€ìˆ˜ ìƒì„±

In [11]:
#  ê°€ë§¹ì  ì—¬ë¶€ í”Œë˜ê·¸ ìƒì„±
df_final["is_franchise"] = df_final["brand_cd"].notna().astype(int)

# brand_cd ì»¬ëŸ¼ ì‚­ì œ
df_final.drop(columns=["brand_cd"], inplace=True)

# í™•ì¸
print("ì‚­ì œ í›„ ì»¬ëŸ¼ ì¡´ì¬ ì—¬ë¶€:", "brand_cd" in df_final.columns)
print(df_final[["num", "is_franchise"]].head())

ì‚­ì œ í›„ ì»¬ëŸ¼ ì¡´ì¬ ì—¬ë¶€: False
          num  is_franchise
0  000F03E44A             0
1  000F03E44A             0
2  000F03E44A             0
3  000F03E44A             0
4  000F03E44A             0

- close(íì—… ë‚ ì§œ), is_closed(íì—… ì—¬ë¶€) ë³€ìˆ˜ ì‚­ì œ<br>
*íì—… ì—¬ë¶€ë‚˜ íì—…ì¼ì€ ì•„ì§ ì¼ì–´ë‚˜ì§€ ì•Šì€ ë¯¸ë˜ ì‚¬ê±´ì´ë¯€ë¡œ
ëª¨ë¸ì˜ ì…ë ¥ë³€ìˆ˜ë¡œ ì‚¬ìš©í•˜ë©´ ì•ˆ ë¨*

In [12]:
df_final.drop(columns=["close"], inplace=True)

In [13]:
df_final.drop(columns=["is_closed"], inplace=True)

In [14]:
df_final.shape

(86590, 39)

In [15]:
# ê²°ì¸¡ì¹˜ í™•ì¸
df_final.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp          6632
delivery_sales_ratio    57345
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      21419
male_20below_ratio       2004
male_30_ratio            2004
male_40_ratio            2004
male_50_ratio            2004
male_60plus_ratio        2004
female_20below_ratio     2004
female_30_ratio          2004
female_40_ratio          2004
female_50_ratio          2004
female_60plus_ratio      2004
revisit_ratio            1643
new_ratio                1643
resident_ratio           7327
worker_ratio             7327
floating_ratio           7327
addr                        0
name                        0
sigungu                     0
biz_type                    0
market                  21419
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
dtype: int64

- addr(ì£¼ì†Œ), name(ìƒí˜¸ëª…)ì€ ë‹¨ìˆœ ë¬¸ìì—´ë¡œ ëª¨ë¸ë§ì— ì œì™¸

In [16]:
df_final.drop(columns=["addr", "name"], inplace=True)

- sigungu(ì‹œêµ°êµ¬)ëŠ” ì „ë¶€ 'ì„œìš¸ ì„±ë™êµ¬'ë¼ ì—†ì–´ë„ ë¨

In [17]:
df_final['sigungu'].unique()

array(['ì„œìš¸ ì„±ë™êµ¬'], dtype=object)

In [18]:
df_final.drop(columns=["sigungu"], inplace=True)

## 2. Train / Test ë¶„í•

###  ì‹ ê·œ ê°€ê²Œ(Cold Start) ì²˜ë¦¬ ì „ëµ

####  1. ê¸°ì¡´ ë¶„í•  ê¸°ì¤€ì—ì„œ ë°œìƒí•˜ëŠ” ë¬¸ì œì 

ì¼ë°˜ì ìœ¼ë¡œ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ **ê¸°ê°„ ê¸°ì¤€ìœ¼ë¡œ Train/Test ë¶„ë¦¬**í•  ë•Œ  
ëª¨ë“  ê°€ê²Œë¥¼ ë™ì¼í•˜ê²Œ ì·¨ê¸‰í•˜ë©´ ë‹¤ìŒ ë¬¸ì œê°€ ë°œìƒí•œë‹¤:

| ë¬¸ì œ ìœ í˜• | ì„¤ëª… |
|------------|------|
| **â‘  ë°ì´í„° ëˆ„ë½ (ì…ë ¥ë¶€ì¡±)** | ì‹ ê·œ ê°œì„¤ ê°€ê²ŒëŠ” ê³¼ê±° 3ê°œì›” ì…ë ¥ ë°ì´í„°(`t-2, t-1, t`)ê°€ ì¡´ì¬í•˜ì§€ ì•Šì•„ ëª¨ë¸ì— íˆ¬ì… ë¶ˆê°€ |
| **â‘¡ ë¶„í¬ ë¶ˆì¼ì¹˜ (distribution shift)** | Trainì—ëŠ” ì—†ë˜ â€œì‹ ê·œ ê°€ê²Œâ€ê°€ Testì—ë§Œ ì¡´ì¬í•˜ì—¬, ëª¨ë¸ì´ í•œ ë²ˆë„ ë³¸ ì  ì—†ëŠ” ìœ í˜•ì„ ì˜ˆì¸¡í•˜ê²Œ ë¨ |
| **â‘¢ ëª¨ë¸ ì„±ëŠ¥ ì™œê³¡** | ì‹ ê·œì ì€ í•™ìŠµ ë¶ˆê°€ëŠ¥í•œ êµ¬ì¡°ì¸ë° Test MAE/RMSE ê³„ì‚° ì‹œ í¬í•¨ë˜ì–´, ëª¨ë¸ ì„±ëŠ¥ì´ ì¸ìœ„ì ìœ¼ë¡œ ë‚˜ë¹ ì§ |
| **â‘£ í•´ì„ ì–´ë ¤ì›€** | ëª¨ë¸ì´ â€œì‹¤íŒ¨â€í•œ ê±´ì§€ â€œë°ì´í„°ê°€ ì—†ì–´ì„œ ì˜ˆì¸¡ ë¶ˆê°€â€í•œ ê±´ì§€ êµ¬ë¶„ì´ ì–´ë ¤ì›€ |

>  ì¦‰, **ì‹ ê·œ ê°€ê²ŒëŠ” Train/Testë¥¼ ë™ì¼ ê¸°ì¤€ìœ¼ë¡œ ìë¥´ë©´ ë¶ˆê³µì •í•˜ê²Œ Testì—ë§Œ ëª°ë¦¬ê²Œ ë¨**  
> (â†’ í˜„ì‹¤ì ìœ¼ë¡œ â€œCold Start ë¬¸ì œâ€)

---

####  2. í•´ê²° ë°©í–¥: ì‹ ê·œì (Cold Start) êµ¬ë¶„ ë° í‘œì‹œ

- **Train**ì—ëŠ” ê³¼ê±° ì´ë ¥ì´ ì¶©ë¶„í•œ ê¸°ì¡´ ê°€ê²Œë§Œ í¬í•¨  
- **Test**ì—ëŠ” ê¸°ì¡´ ê°€ê²Œ + ì‹ ê·œ ê°€ê²Œ ëª¨ë‘ í¬í•¨  
- **ì‹ ê·œ ê°€ê²Œ(`is_cold_start = 1`)** í”¼ì²˜ë¥¼ ì¶”ê°€í•´ ëª¨ë¸ì´ ì¸ì‹í•˜ë„ë¡ ì²˜ë¦¬  
- í‰ê°€ ë‹¨ê³„ì—ì„œ **ê¸°ì¡´ì ê³¼ ì‹ ê·œì ì„ ë³„ë„ë¡œ ë¦¬í¬íŠ¸**

---

####  3. ê¸°ì¤€ ì‹œì  ì„¤ì •ê³¼ ì´ìœ 

##### ğŸ”¹ ê¸°ì¤€ ì‹œì : `2024ë…„ 3ì›” ì´í›„ (open > 2024-03-01)`

| ì´ìœ  | ì„¤ëª… |
|------|------|
| **â‘  ì…ë ¥ êµ¬ì¡°** | ëª¨ë¸ì€ "ìµœê·¼ 3ê°œì›” â†’ ë‹¤ìŒ ë‹¬ ì˜ˆì¸¡" êµ¬ì¡°ë¥¼ ì‚¬ìš© |
| **â‘¡ ì…ë ¥ í™•ë³´ í•„ìš”** | ì˜ˆë¥¼ ë“¤ì–´ 4ì›” ì˜ˆì¸¡ì„ í•˜ë ¤ë©´ 1~3ì›” ë°ì´í„°ê°€ í•„ìš”í•¨ |
| **â‘¢ ì‹ ê·œì  ì •ì˜** | 2024-03 ì´í›„ ê°œì„¤ëœ ê°€ê²ŒëŠ” 3ê°œì›” ì…ë ¥ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŒ â†’ Cold Start |

â†’ ë”°ë¼ì„œ  
- **ê¸°ì¡´ ê°€ê²Œ** : `open â‰¤ 2024-03-01`  
- **ì‹ ê·œ ê°€ê²Œ** : `open > 2024-03-01`

---

- ê°€ê²Œ ê°œì„¤ ë‚ ì§œ í™•ì¸

In [19]:
import pandas as pd

df = df_final.copy()
df['open'] = pd.to_datetime(df['open'])

# ì „ì²´ ê°œì„¤ì¼ ë²”ìœ„ í™•ì¸
print("ğŸ“… ê°œì„¤ì¼ ìµœì†Œ:", df['open'].min().strftime('%Y-%m-%d'))
print("ğŸ“… ê°œì„¤ì¼ ìµœëŒ€:", df['open'].max().strftime('%Y-%m-%d'))

# ì—°Â·ì›”ë³„ ê°œì„¤ ê°€ê²Œ ìˆ˜ ì§‘ê³„
open_summary = (
    df.drop_duplicates('num')  # ê°€ê²Œë‹¹ í•œ ë²ˆë§Œ ì¹´ìš´íŠ¸
      .groupby(df['open'].dt.to_period('M'))['num']
      .count()
      .rename('new_stores')
      .reset_index()
)
open_summary['open'] = open_summary['open'].astype(str)
print(open_summary.tail(12))  # ìµœê·¼ 12ê°œì›”ë§Œ ë³´ê¸°

ğŸ“… ê°œì„¤ì¼ ìµœì†Œ: 1990-02-28
ğŸ“… ê°œì„¤ì¼ ìµœëŒ€: 2024-12-23
        open  new_stores
298  2024-01          48
299  2024-02          47
300  2024-03          40
301  2024-04          54
302  2024-05          68
303  2024-06          53
304  2024-07          47
305  2024-08          55
306  2024-09          51
307  2024-10          58
308  2024-11          46
309  2024-12          25

In [20]:
import pandas as pd

# ===== 1ï¸. ë°ì´í„° ì •ë ¬ ë° ë‚ ì§œí˜• ë³€í™˜ =====
df = df_final.copy()
df['ym'] = pd.to_datetime(df['ym'])
df['open'] = pd.to_datetime(df['open'])
df = df.sort_values(['num', 'ym']).reset_index(drop=True)

# ===== 2ï¸. ë‹¤ìŒë‹¬ ì˜ˆì¸¡ íƒ€ê¹ƒ ìƒì„± =====W
df['y_month'] = df['ym'] + pd.offsets.MonthBegin(1)
df['y_next_rank'] = df.groupby('num')['rel_sales_ratio'].shift(-1)

# ===== 3ï¸. ì‹ ê·œì  í”Œë˜ê·¸ ì¶”ê°€ =====
# ê¸°ì¤€: 2024-03 ì´í›„ ê°œì„¤ ê°€ê²Œ â†’ ì‹ ê·œì ìœ¼ë¡œ ê°„ì£¼
cold_start_cutoff = pd.Timestamp('2024-03-01')
df['is_cold_start'] = (df['open'] > cold_start_cutoff).astype(int)

# ===== 4ï¸. Train / Test ë¶„ë¦¬ =====
# íƒ€ê¹ƒ ì›”(y_month) ê¸°ì¤€ìœ¼ë¡œ ë¶„í•  (ë¯¸ë˜ ì •ë³´ ëˆ„ìˆ˜ ë°©ì§€)
train = df[(df['y_month'] >= '2023-04-01') & (df['y_month'] <= '2024-06-30') & (df['is_cold_start'] == 0)].copy()
test  = df[(df['y_month'] >= '2024-07-01') & (df['y_month'] <= '2024-12-31')].copy()

# ===== 5ï¸. ìš”ì•½ í™•ì¸ =====
def summarize(name, data):
    print(f"\n[{name}]")
    print(f"ê¸°ê°„: {data['y_month'].min().strftime('%Y-%m')} ~ {data['y_month'].max().strftime('%Y-%m')}")
    print(f"ìƒ˜í”Œ ìˆ˜: {len(data):,}")
    print(f"ê³ ìœ  ê°€ê²Œ ìˆ˜: {data['num'].nunique():,}")
    print(f"ì‹ ê·œì  ë¹„ìœ¨: {data['is_cold_start'].mean()*100:.2f}%")

summarize("Train", train)
summarize("Test", test)

[Train]
ê¸°ê°„: 2023-04 ~ 2024-06
ìƒ˜í”Œ ìˆ˜: 51,928
ê³ ìœ  ê°€ê²Œ ìˆ˜: 3,687
ì‹ ê·œì  ë¹„ìœ¨: 0.00%

[Test]
ê¸°ê°„: 2024-07 ~ 2024-12
ìƒ˜í”Œ ìˆ˜: 24,036
ê³ ìœ  ê°€ê²Œ ìˆ˜: 4,138
ì‹ ê·œì  ë¹„ìœ¨: 8.57%

# 3. ë¶„í•  í›„ ë³€ìˆ˜ ì²˜ë¦¬

## 1. Train ì „ì²˜ë¦¬

In [21]:
train.head()

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,floating_ratio,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start
2,000F03E44A,2023-03-01,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),NaN,NaN,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-04-01,1.3,0
3,000F03E44A,2023-04-01,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),5_75-90%,5_75-90%,3_25-50%,1_ìƒìœ„1êµ¬ê°„,NaN,1.3,...,0.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,305.9134,0,2023-05-01,0.0,0
4,000F03E44A,2023-05-01,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),5_75-90%,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),1_ìƒìœ„1êµ¬ê°„,NaN,0.0,...,100.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-06-01,0.1,0
5,000F03E44A,2023-06-01,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),5_75-90%,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),1_ìƒìœ„1êµ¬ê°„,NaN,0.1,...,100.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,23.5318,0,2023-07-01,0.0,0
6,000F03E44A,2023-07-01,5_75-90%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),NaN,NaN,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-08-01,0.0,0

In [22]:
train.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp          3773
delivery_sales_ratio    34378
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      12803
male_20below_ratio       1152
male_30_ratio            1152
male_40_ratio            1152
male_50_ratio            1152
male_60plus_ratio        1152
female_20below_ratio     1152
female_30_ratio          1152
female_40_ratio          1152
female_50_ratio          1152
female_60plus_ratio      1152
revisit_ratio             940
new_ratio                 940
resident_ratio           4181
worker_ratio             4181
floating_ratio           4181
biz_type                    0
market                  12803
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                21
is_cold_start               0
dtype: int64

### 1. ìˆœì„œí˜• ë³€ìˆ˜
- ìˆœì„œí˜• ì¸ì½”ë”© ì²˜ë¦¬ (1~6 ìˆ«ìë¡œ ë³€í™˜)
- ê²°ì¸¡ì¹˜: ì¤‘ê°„ êµ¬ê°„(3) or ìµœë¹ˆê°’ ëŒ€ì²´

In [23]:
grp_cols = [
    'oper_month_grp', 'sales_grp', 'txn_cnt_grp', 
    'cust_cnt_grp', 'avg_pay_grp', 'cancel_rate_grp'
]

# ì¤‘ê°„ êµ¬ê°„(3_25-50%) ê°’ì´ ìˆìœ¼ë©´ ê·¸ê±¸ ìš°ì„  ì‚¬ìš©, ì•„ë‹ˆë©´ ìµœë¹ˆê°’ìœ¼ë¡œ
for c in grp_cols:
    if (train[c] == '3_25-50%').any():
        fill_val = '3_25-50%'
    else:
        fill_val = train[c].mode()[0]
    train[c] = train[c].fillna(fill_val)

# ìˆœì„œí˜• ì¸ì½”ë”©
import re

for c in grp_cols:
    # ì •ê·œí‘œí˜„ì‹ìœ¼ë¡œ ì•ì˜ ìˆ«ì ì¶”ì¶œ (ì—†ìœ¼ë©´ NaN)
    train[c] = train[c].astype(str).apply(lambda x: int(re.findall(r'^\d+', x)[0]) if re.findall(r'^\d+', x) else None)

In [24]:
train.head()

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,floating_ratio,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start
2,000F03E44A,2023-03-01,5,6,6,6,6,1,NaN,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-04-01,1.3,0
3,000F03E44A,2023-04-01,5,6,5,5,3,1,NaN,1.3,...,0.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,305.9134,0,2023-05-01,0.0,0
4,000F03E44A,2023-05-01,5,6,5,5,6,1,NaN,0.0,...,100.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-06-01,0.1,0
5,000F03E44A,2023-06-01,5,6,5,5,6,1,NaN,0.1,...,100.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,23.5318,0,2023-07-01,0.0,0
6,000F03E44A,2023-07-01,5,6,6,6,6,1,NaN,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2023-08-01,0.0,0

### 2. ë²”ì£¼í˜• ë³€ìˆ˜(biz_type, market)

- label encoding ì§„í–‰
- market ê²°ì¸¡ì€ 'ê¸°íƒ€' ì²˜ë¦¬ + 'is_market_missing' í”Œë˜ê·¸ ë³€ìˆ˜ ì¶”ê°€

In [25]:
print(train['biz_type'].unique()[:10])
print(train['market'].unique()[:10])

<StringArray>
['ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘',       'ìš”ë¦¬ì£¼ì ',     'ë°±ë°˜/ê°€ì •ì‹',      'ì»¤í”¼ì „ë¬¸ì ',   'í•œì‹-ì°Œê°œ/ì „ê³¨',
   'ë£¸ì‚´ë¡±/ë‹¨ë€ì£¼ì ',      'í•œì‹-ëƒ‰ë©´',        'ì¶•ì‚°ë¬¼',  'í•œì‹-ë‹¨í’ˆìš”ë¦¬ì¼ë°˜',         'ì–‘ì‹']
Length: 10, dtype: string
['ëšì„¬' 'ë§ˆì¥ë™' 'ë‹µì‹­ë¦¬' 'ì„±ìˆ˜' nan 'ì™•ì‹­ë¦¬' 'ê¸ˆë‚¨ì‹œì¥' 'í•œì–‘ëŒ€' 'ì¥í•œí‰ìë™ì°¨' 'ì˜¥ìˆ˜']

In [26]:
from sklearn.preprocessing import LabelEncoder

le_biz = LabelEncoder()
le_market = LabelEncoder()

train['is_market_missing'] = train['market'].isna().astype(int)
train['market'] = train['market'].fillna('ê¸°íƒ€')

train['biz_type'] = le_biz.fit_transform(train['biz_type'].astype(str))
train['market'] = le_market.fit_transform(train['market'].astype(str))

print("biz_type ë§¤í•‘:", dict(zip(le_biz.classes_, le_biz.transform(le_biz.classes_))))
print("market ë§¤í•‘:", dict(zip(le_market.classes_, le_market.transform(le_market.classes_))))

biz_type ë§¤í•‘: {'ê±´ê°•ì‹í’ˆ': 0, 'ê±´ê°•ì›': 1, 'ê±´ì–´ë¬¼': 2, 'êµ¬ë‚´ì‹ë‹¹/í‘¸ë“œì½”íŠ¸': 3, 'ê¸°ì‚¬ì‹ë‹¹': 4, 'ê¸°íƒ€ì„¸ê³„ìš”ë¦¬': 5, 'ê¼¬ì¹˜êµ¬ì´': 6, 'ë†ì‚°ë¬¼': 7, 'ë‹´ë°°': 8, 'ë„ë„ˆì¸ ': 9, 'ë„ì‹œë½': 10, 'ë™ë‚¨ì•„/ì¸ë„ìŒì‹': 11, 'ë–¡/í•œê³¼': 12, 'ë–¡/í•œê³¼ ì œì¡°': 13, 'ë£¸ì‚´ë¡±/ë‹¨ë€ì£¼ì ': 14, 'ë§ˆì¹´ë¡±': 15, 'ë¯¸ê³¡ìƒ': 16, 'ë¯¼ì†ì£¼ì ': 17, 'ë°˜ì°¬': 18, 'ë°±ë°˜/ê°€ì •ì‹': 19, 'ë² ì´ì»¤ë¦¬': 20, 'ë¶„ì‹': 21, 'ìƒŒë“œìœ„ì¹˜/í† ìŠ¤íŠ¸': 22, 'ìˆ˜ì‚°ë¬¼': 23, 'ìŠ¤í…Œì´í¬': 24, 'ì‹ë£Œí’ˆ': 25, 'ì‹í’ˆ ì œì¡°': 26, 'ì•„ì´ìŠ¤í¬ë¦¼/ë¹™ìˆ˜': 27, 'ì–‘ì‹': 28, 'ì™€ì¸ë°”': 29, 'ì™€ì¸ìƒµ': 30, 'ì™€í”Œ/í¬ë¡œí”Œ': 31, 'ìš”ë¦¬ì£¼ì ': 32, 'ìœ ì œí’ˆ': 33, 'ì´ìì¹´ì•¼': 34, 'ì¸ì‚¼ì œí’ˆ': 35, 'ì¼ë°˜ ìœ í¥ì£¼ì ': 36, 'ì¼ì‹-ë®ë°¥/ëˆê°€ìŠ¤': 37, 'ì¼ì‹-ìƒ¤ë¸Œìƒ¤ë¸Œ': 38, 'ì¼ì‹-ìš°ë™/ì†Œë°”/ë¼ë©´': 39, 'ì¼ì‹-ì°¸ì¹˜íšŒ': 40, 'ì¼ì‹-ì´ˆë°¥/ë¡¤': 41, 'ì¼ì‹ë‹¹': 42, 'ì£¼ë¥˜': 43, 'ì£¼ìŠ¤': 44, 'ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘': 45, 'ì¤‘ì‹-í› ê¶ˆ/ë§ˆë¼íƒ•': 46, 'ì¤‘ì‹ë‹¹': 47, 'ì°¨': 48, 'ì²­ê³¼ë¬¼': 49, 'ì¶•ì‚°ë¬¼': 50, 'ì¹˜í‚¨': 51, 'ì¹´í˜': 52, 'ì»¤í”¼ì „ë¬¸ì ': 53, 'íƒ•í›„ë£¨': 54, 'í…Œë§ˆì¹´í˜': 55, 'í…Œì´í¬ì•„ì›ƒì»¤í”¼': 56, 'í¬ì¥ë§ˆì°¨': 57, 'í”¼ì': 58, 'í•œì‹-ê°ìíƒ•': 59, 'í•œì‹-êµ­ë°¥/ì„¤ë íƒ•': 60, 'í•œì‹-êµ­ìˆ˜/ë§Œë‘': 61, 'í•œì‹-ëƒ‰ë©´': 62, 'í•œì‹-ë‹¨í’ˆìš”ë¦¬ì¼ë°˜': 63, 'í•œì‹-ë‘ë¶€ìš”ë¦¬': 64, 'í•œì‹-ìœ¡ë¥˜/ê³ ê¸°': 65, 'í•œì‹-ì£½': 66, 'í•œì‹-ì°Œê°œ/ì „ê³¨': 67, 'í•œì‹-í•´ë¬¼/ìƒì„ ': 68, 'í•œì‹ë·”í˜': 69, 'í•œì •ì‹': 70, 'í–„ë²„ê±°': 71, 'í˜¸í”„/ë§¥ì£¼': 72}
market ë§¤í•‘: {'ê±´ëŒ€ì…êµ¬': 0, 'ê¸ˆë‚¨ì‹œì¥': 1, 'ê¸°íƒ€': 2, 'ë‹µì‹­ë¦¬': 3, 'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›ì—­': 4, 'ëšì„¬': 5, 'ë§ˆì¥ë™': 6, 'ë¯¸ì•„ì‚¬ê±°ë¦¬': 7, 'ë°©ë°°ì—­': 8, 'ì„œë©´ì—­': 9, 'ì„±ìˆ˜': 10, 'ì‹ ê¸ˆí˜¸': 11, 'ì••êµ¬ì •ë¡œë°ì˜¤': 12, 'ì˜¤ë‚¨': 13, 'ì˜¥ìˆ˜': 14, 'ì™•ì‹­ë¦¬': 15, 'ìì–‘': 16, 'ì¥í•œí‰ìë™ì°¨': 17, 'í’ì‚°ì§€êµ¬': 18, 'í•œì–‘ëŒ€': 19, 'í–‰ë‹¹': 20, 'í™”ì–‘ì‹œì¥': 21}

In [27]:
train.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    34378
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      12803
male_20below_ratio       1152
male_30_ratio            1152
male_40_ratio            1152
male_50_ratio            1152
male_60plus_ratio        1152
female_20below_ratio     1152
female_30_ratio          1152
female_40_ratio          1152
female_50_ratio          1152
female_60plus_ratio      1152
revisit_ratio             940
new_ratio                 940
resident_ratio           4181
worker_ratio             4181
floating_ratio           4181
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                21
is_cold_start               0
is_market_missing           0
dtype: int64

### 3. y_month(íƒ€ê¹ƒ ì›”), y_next_rank(ë‹¤ìŒ ë‹¬ íƒ€ê¹ƒ ë³€ìˆ˜)
- y_next_rankëŠ” ê°™ì€ ê°€ê²Œ ì•ˆì—ì„œ ë‹¤ìŒ ë‹¬ rel_sales_ratio ê°’ì¸ë° ë§ˆì§€ë§‰ ë‹¬ì—ëŠ” ë‹¤ìŒ ë‹¬ ë°ì´í„°ê°€ ì—†ê¸° ë•Œë¬¸ì— ê²°ì¸¡ì¹˜ê°€ ìƒê¹€

In [28]:
train[train['y_next_rank'].isnull()]

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start,is_market_missing
3252,099CBF2425,2023-04-01,6,5,5,5,4,1,97.4,5.1,...,63,15,2019-09-25,0,1267.1358,0,2023-05-01,NaN,0,0
5507,104031A6C2,2024-05-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2020-02-13,0,0.0000,0,2024-06-01,NaN,0,0
10215,1E00B3CC15,2023-05-01,6,6,5,5,6,6,0.0,0.1,...,63,3,2014-10-29,0,24.8458,0,2023-06-01,NaN,0,0
15729,2D56DC79C1,2023-05-01,6,5,4,4,4,1,95.1,31.0,...,51,2,2019-01-29,0,8171.3830,1,2023-06-01,NaN,0,1
17640,32425BE27F,2023-05-01,6,2,2,2,3,1,33.2,141.7,...,28,2,2021-07-12,0,32520.5751,0,2023-06-01,NaN,0,1
17821,32F21633BE,2023-10-01,6,3,2,2,4,3,47.3,148.1,...,63,2,2020-07-03,0,36796.6298,0,2023-11-01,NaN,0,1
18895,365914E11C,2023-09-01,6,5,3,4,5,1,NaN,27.5,...,52,2,2021-04-08,0,3092.1000,0,2023-10-01,NaN,0,1
21257,3D4F4809F0,2023-11-01,6,2,3,3,2,5,NaN,131.1,...,42,5,2022-06-22,0,38406.1383,0,2023-12-01,NaN,0,0
36916,6A2D56434E,2023-09-01,6,3,4,4,3,1,0.0,161.1,...,51,19,2016-05-09,0,42464.8323,1,2023-10-01,NaN,0,0
48432,8D7C69A199,2023-04-01,6,6,6,6,6,6,NaN,0.0,...,53,10,2019-10-28,0,0.0000,0,2023-05-01,NaN,0,0
51692,97BB136954,2024-04-01,6,1,3,3,2,4,NaN,351.2,...,65,15,2020-06-30,0,99293.0200,0,2024-05-01,NaN,0,0
55533,A2C52B6B6A,2023-08-01,6,3,3,3,4,1,0.8,81.8,...,63,2,2022-06-08,0,20323.8644,0,2023-09-01,NaN,0,1
64679,BECBEDC4A9,2024-05-01,6,2,4,4,1,1,NaN,165.2,...,28,2,2020-09-24,0,47155.8444,0,2024-06-01,NaN,0,1
67515,C67A90C6B4,2023-08-01,6,4,5,5,1,1,NaN,36.6,...,50,2,2015-07-30,0,6989.1360,0,2023-09-01,NaN,0,1
67631,C71D78655F,2023-10-01,6,5,4,4,4,6,9.5,25.7,...,52,17,2022-03-24,0,2889.7080,0,2023-11-01,NaN,0,0
69873,CE412204AA,2024-05-01,6,6,5,5,3,1,0.0,1.0,...,65,1,2021-10-06,0,282.7250,0,2024-06-01,NaN,0,0
71632,D488494DEF,2024-04-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2018-10-01,0,0.0000,0,2024-05-01,NaN,0,0
76587,E476C4A851,2024-01-01,6,6,5,5,5,1,NaN,1.6,...,63,10,2021-05-21,0,452.3600,0,2024-02-01,NaN,0,0
78822,E9CAEBD784,2023-11-01,6,5,5,5,3,1,NaN,11.9,...,68,3,2018-05-14,0,2956.6502,1,2023-12-01,NaN,0,0
78837,E9CC23245B,2024-03-01,6,6,6,6,6,1,NaN,0.0,...,58,19,2022-01-06,0,0.0000,0,2024-04-01,NaN,0,0
85888,FE30B6645E,2023-03-01,6,4,3,3,4,4,78.5,75.6,...,51,15,2019-01-24,0,19927.6308,1,2023-04-01,NaN,0,0

In [29]:
before = len(train)
train = train[train['y_next_rank'].notna()].reset_index(drop=True)
after = len(train)

print(f" y_next_rank ê²°ì¸¡ ì œê±° ì™„ë£Œ: {before - after}í–‰ ì œê±°ë¨ (í˜„ì¬ {after}í–‰)")

 y_next_rank ê²°ì¸¡ ì œê±° ì™„ë£Œ: 21í–‰ ì œê±°ë¨ (í˜„ì¬ 51907í–‰)

In [30]:
train.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    34367
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      12796
male_20below_ratio       1152
male_30_ratio            1152
male_40_ratio            1152
male_50_ratio            1152
male_60plus_ratio        1152
female_20below_ratio     1152
female_30_ratio          1152
female_40_ratio          1152
female_50_ratio          1152
female_60plus_ratio      1152
revisit_ratio             940
new_ratio                 940
resident_ratio           4177
worker_ratio             4177
floating_ratio           4177
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
dtype: int64

### 4. ë¹„ìœ¨í˜•/ë¹„ì¤‘í˜• ë³€ìˆ˜ ì²˜ë¦¬

1. male/female/ë‚˜ì´ëŒ€ ë¹„ì¤‘ ë³€ìˆ˜
- 1152ê°œê°€ ëª¨ë‘ ê°™ì€ í–‰ 
-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [31]:
ratio_cols_demo = [
    'male_20below_ratio','male_30_ratio','male_40_ratio','male_50_ratio','male_60plus_ratio',
    'female_20below_ratio','female_30_ratio','female_40_ratio','female_50_ratio','female_60plus_ratio'
]

# ëª¨ë“  ì„±Â·ì—°ë ¹ ë¹„ìœ¨ì´ ê²°ì¸¡ì¸ í–‰ë§Œ í•„í„°ë§
mask_all_missing = train[ratio_cols_demo].isna().all(axis=1)
missing_demo_df = train[mask_all_missing]

print(f"ì „ì²´ {len(train):,}í–‰ ì¤‘ {mask_all_missing.sum():,}í–‰ì´ ì „ë¶€ ê²°ì¸¡ì…ë‹ˆë‹¤.")
missing_demo_df.head(10)

ì „ì²´ 51,907í–‰ ì¤‘ 1,152í–‰ì´ ì „ë¶€ ê²°ì¸¡ì…ë‹ˆë‹¤.

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start,is_market_missing
75,0050D68B18,2023-05-01,6,6,6,6,6,1,NaN,0.0,...,14,10,2023-05-31,0,0.0,0,2023-06-01,654.3,0,0
133,00803E9174,2024-02-01,6,6,6,6,6,6,NaN,0.0,...,28,10,2024-02-08,0,0.0,0,2024-03-01,27.0,0,0
325,0174C56C09,2023-03-01,5,6,6,6,6,1,NaN,0.0,...,25,2,2022-02-10,0,0.0,0,2023-04-01,0.0,0,1
326,0174C56C09,2023-04-01,5,6,6,6,6,1,NaN,0.0,...,25,2,2022-02-10,0,0.0,0,2023-05-01,0.0,0,1
327,0174C56C09,2023-05-01,5,6,6,6,6,1,NaN,0.0,...,25,2,2022-02-10,0,0.0,0,2023-06-01,0.0,0,1
328,0174C56C09,2023-06-01,5,6,6,6,6,1,NaN,0.0,...,25,2,2022-02-10,0,0.0,0,2023-07-01,89.9,0,1
668,02826B57BE,2023-04-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2023-04-04,0,0.0,0,2023-05-01,0.0,0,0
669,02826B57BE,2023-05-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2023-04-04,0,0.0,0,2023-06-01,0.0,0,0
670,02826B57BE,2023-06-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2023-04-04,0,0.0,0,2023-07-01,0.0,0,0
671,02826B57BE,2023-07-01,6,6,6,6,6,1,NaN,0.0,...,50,6,2023-04-04,0,0.0,0,2023-08-01,0.0,0,0

In [32]:
import pandas as pd

# ===== 1ï¸. ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_demo = [
    'male_20below_ratio','male_30_ratio','male_40_ratio','male_50_ratio','male_60plus_ratio',
    'female_20below_ratio','female_30_ratio','female_40_ratio','female_50_ratio','female_60plus_ratio'
]

# ===== 2ï¸. ê²°ì¸¡ í”Œë˜ê·¸ ì¶”ê°€ (ê³ ê° ë°ì´í„° ìì²´ ì—†ëŠ” í–‰ ì‹ë³„) =====
train['is_customer_missing'] = train[ratio_cols_demo].isna().all(axis=1).astype(int)

# ===== 3ï¸. 1ì°¨ ì²˜ë¦¬: ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ ê²°ì¸¡ ëŒ€ì²´ (ì‹œê³„ì—´ êµ¬ì¡° ìœ ì§€) =====
train[ratio_cols_demo] = (
    train.groupby(['biz_type','ym'])[ratio_cols_demo]
         .transform(lambda x: x.fillna(x.median()))
)

# ===== 4ï¸. 2ì°¨ ì²˜ë¦¬: ì—¬ì „íˆ ë‚¨ì€ ê²°ì¸¡ì€ ì—…ì¢… ë‹¨ìœ„ ì „ì²´ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ =====
for col in ratio_cols_demo:
    train[col] = train[col].fillna(train.groupby('biz_type')[col].transform('median'))

# ===== 5ï¸. í™•ì¸ =====
print("ë‚¨ì€ ê²°ì¸¡ì¹˜ ê°œìˆ˜")
print(train[ratio_cols_demo].isna().sum().sort_values(ascending=False))
print(f"ê³ ê° ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_customer_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê²°ì¸¡ì¹˜ ê°œìˆ˜
male_20below_ratio      0
male_30_ratio           0
male_40_ratio           0
male_50_ratio           0
male_60plus_ratio       0
female_20below_ratio    0
female_30_ratio         0
female_40_ratio         0
female_50_ratio         0
female_60plus_ratio     0
dtype: int64
ê³ ê° ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_customer_missing í”Œë˜ê·¸ í¬í•¨)

In [33]:
train.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    34367
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      12796
male_20below_ratio          0
male_30_ratio               0
male_40_ratio               0
male_50_ratio               0
male_60plus_ratio           0
female_20below_ratio        0
female_30_ratio             0
female_40_ratio             0
female_50_ratio             0
female_60plus_ratio         0
revisit_ratio             940
new_ratio                 940
resident_ratio           4177
worker_ratio             4177
floating_ratio           4177
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
is_customer_missing         0
dtype: int64

2. revisit, new ratio ë³€ìˆ˜
- ê°™ì€ í–‰ ê²°ì¸¡ì¹˜ì„ 
-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [34]:
# ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡ì¸ í–‰ ì°¾ê¸°
mask_behavior_missing = train[['revisit_ratio','new_ratio']].isna().all(axis=1)

# í†µê³„ ìš”ì•½
print(f"ì „ì²´ {len(train):,}í–‰ ì¤‘ ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: {mask_behavior_missing.sum():,}í–‰")

# ìƒ˜í”Œ ì¶œë ¥
train.loc[mask_behavior_missing, ['num','ym','revisit_ratio','new_ratio']].head(10)

ì „ì²´ 51,907í–‰ ì¤‘ ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: 940í–‰

            num         ym  revisit_ratio  new_ratio
75   0050D68B18 2023-05-01            NaN        NaN
133  00803E9174 2024-02-01            NaN        NaN
325  0174C56C09 2023-03-01            NaN        NaN
326  0174C56C09 2023-04-01            NaN        NaN
327  0174C56C09 2023-05-01            NaN        NaN
328  0174C56C09 2023-06-01            NaN        NaN
668  02826B57BE 2023-04-01            NaN        NaN
669  02826B57BE 2023-05-01            NaN        NaN
670  02826B57BE 2023-06-01            NaN        NaN
671  02826B57BE 2023-07-01            NaN        NaN

In [35]:
# ===== 1ï¸. ê³ ê° í–‰ë™ ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_behavior = ['revisit_ratio', 'new_ratio']

# ===== 2ï¸. ë‘ ì»¬ëŸ¼ì´ ë™ì‹œì— ê²°ì¸¡ì¸ í–‰ í”Œë˜ê·¸ ì¶”ê°€ =====
train['is_behavior_missing'] = train[ratio_cols_behavior].isna().all(axis=1).astype(int)

# ===== 3ï¸. ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ =====
train[ratio_cols_behavior] = (
    train.groupby(['biz_type', 'ym'])[ratio_cols_behavior]
         .transform(lambda x: x.fillna(x.median()))
)

print("ë‚¨ì€ ê³ ê° í–‰ë™ ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(train[ratio_cols_behavior].isna().sum())
print(" revisit_ratio, new_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_behavior_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê³ ê° í–‰ë™ ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:
revisit_ratio    7
new_ratio        7
dtype: int64
 revisit_ratio, new_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_behavior_missing í”Œë˜ê·¸ í¬í•¨)

In [36]:
train['is_behavior_missing'] = train[ratio_cols_behavior].isna().all(axis=1).astype(int)

3. resident_ratio, worker_ratio, floating_ratio
- ë™ì¼ í–‰ ê²°ì¸¡ì¹˜-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [37]:
mask_type_missing = train[['resident_ratio','worker_ratio','floating_ratio']].isna().all(axis=1)

print(f"ì „ì²´ {len(train):,}í–‰ ì¤‘ ì„¸ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: {mask_type_missing.sum():,}í–‰")

train.loc[mask_type_missing, ['num','ym','resident_ratio','worker_ratio','floating_ratio']].head(10)

ì „ì²´ 51,907í–‰ ì¤‘ ì„¸ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: 4,177í–‰

           num         ym  resident_ratio  worker_ratio  floating_ratio
0   000F03E44A 2023-03-01             NaN           NaN             NaN
4   000F03E44A 2023-07-01             NaN           NaN             NaN
5   000F03E44A 2023-08-01             NaN           NaN             NaN
7   000F03E44A 2023-10-01             NaN           NaN             NaN
9   000F03E44A 2023-12-01             NaN           NaN             NaN
10  000F03E44A 2024-01-01             NaN           NaN             NaN
30  003473B465 2023-03-01             NaN           NaN             NaN
31  003473B465 2023-04-01             NaN           NaN             NaN
34  003473B465 2023-07-01             NaN           NaN             NaN
35  003473B465 2023-08-01             NaN           NaN             NaN

In [38]:
# ===== 1ï¸. ê³ ê° ìœ í˜• ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_customer_type = ['resident_ratio', 'worker_ratio', 'floating_ratio']

# ===== 2ï¸. ì„¸ ì»¬ëŸ¼ì´ ëª¨ë‘ ê²°ì¸¡ì¸ í–‰ í”Œë˜ê·¸ ì¶”ê°€ =====
train['is_type_missing'] = train[ratio_cols_customer_type].isna().all(axis=1).astype(int)

# ===== 3ï¸. ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ 1ì°¨ ëŒ€ì²´ =====
train[ratio_cols_customer_type] = (
    train.groupby(['biz_type','ym'])[ratio_cols_customer_type]
         .transform(lambda x: x.fillna(x.median()))
)

# ===== 4ï¸. ì—…ì¢… ë‹¨ìœ„ ì¤‘ì•™ê°’ìœ¼ë¡œ 2ì°¨ ëŒ€ì²´ =====
for col in ratio_cols_customer_type:
    train[col] = train[col].fillna(train.groupby('biz_type')[col].transform('median'))


# ===== 5. í™•ì¸ =====
print("ë‚¨ì€ ê³ ê° ìœ í˜• ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(train[ratio_cols_customer_type].isna().sum())
print("resident_ratio, worker_ratio, floating_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_type_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê³ ê° ìœ í˜• ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:
resident_ratio    0
worker_ratio      0
floating_ratio    0
dtype: int64
resident_ratio, worker_ratio, floating_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_type_missing í”Œë˜ê·¸ í¬í•¨)

In [39]:
train['is_type_missing'] = train[ratio_cols_customer_type].isna().all(axis=1).astype(int)

In [40]:
train.isnull().sum() # ë‘ê°œ ë‚¨ì•˜ë“œì•„ì•„ã…ã…‡ì•„ì•„!!!!!!!!!ã… ã… ã… ã… ..

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    34367
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market      12796
male_20below_ratio          0
male_30_ratio               0
male_40_ratio               0
male_50_ratio               0
male_60plus_ratio           0
female_20below_ratio        0
female_30_ratio             0
female_40_ratio             0
female_50_ratio             0
female_60plus_ratio         0
revisit_ratio               7
new_ratio                   7
resident_ratio              0
worker_ratio                0
floating_ratio              0
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
is_customer_missing         0
is_behavior_missing         0
is_type_missing             0
dtype: int64

4. delivery_sales_ratio: ë°°ë‹¬ ë§¤ì¶œ ë¹„ìœ¨
- NaNì˜ ì˜ë¯¸ = â€œë°°ë‹¬ì„ í•˜ì§€ ì•ŠëŠ”ë‹¤.â€
- ì¦‰, â€œ0%â€ë¡œ ì²˜ë¦¬

In [41]:
# 1ï¸. ê²°ì¸¡ í”Œë˜ê·¸ ìƒì„±
train['is_delivery_missing'] = train['delivery_sales_ratio'].isna().astype(int)

# 2ï¸. ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ëŒ€ì²´ (ë°°ë‹¬ ì•ˆí•¨)
train['delivery_sales_ratio'] = train['delivery_sales_ratio'].fillna(0)

# 3ï¸. í™•ì¸
print("delivery_sales_ratio ë‚¨ì€ ê²°ì¸¡ì¹˜:", train['delivery_sales_ratio'].isna().sum())
print("delivery_sales_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_delivery_missing í”Œë˜ê·¸ í¬í•¨)")

delivery_sales_ratio ë‚¨ì€ ê²°ì¸¡ì¹˜: 0
delivery_sales_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_delivery_missing í”Œë˜ê·¸ í¬í•¨)

5. share_sales_market
- ìƒê¶Œì´ ì¡´ì¬í•˜ì§€ ì•Šì•„ ê°’ì„ êµ¬í•˜ì§€ ëª»í•¨â€ì„ í”Œë˜ê·¸ë¡œ ëª…ì‹œí•˜ê³ , ê°’ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [42]:
# 1ï¸. í”Œë˜ê·¸ ì´ë¯¸ ì¡´ì¬ (is_market_missing)
# 2ï¸. share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ (ê°’ ì˜ë¯¸ ìœ ì§€)
train['share_sales_market'] = (
    train.groupby(['biz_type','ym'])['share_sales_market']
         .transform(lambda x: x.fillna(x.median()))
)

# 3ï¸. ì—…ì¢… ë‹¨ìœ„ ì¤‘ì•™ê°’ìœ¼ë¡œ 2ì°¨ ë³´ì • (ì¼ë¶€ ì›” í‘œë³¸ ì—†ìŒ ëŒ€ë¹„)
train['share_sales_market'] = train['share_sales_market'].fillna(
    train.groupby('biz_type')['share_sales_market'].transform('median')
)

# 4ï¸. ì „ì²´ ë°ì´í„° ê¸°ì¤€ í‰ê· ê°’ìœ¼ë¡œ ìµœì¢… ë³´ì •
median = train['share_sales_market'].median()
train['share_sales_market'] = train['share_sales_market'].fillna(median)

# í”Œë˜ê·¸ëŠ” is_market_missingìœ¼ë¡œ ì—°ê²°
print("ë‚¨ì€ share_sales_market ê²°ì¸¡ì¹˜:", train['share_sales_market'].isna().sum())
print("share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ ë³´ì •, market ë¶€ì¬ëŠ” NaN ìœ ì§€ (is_market_missingìœ¼ë¡œ êµ¬ë¶„)")

ë‚¨ì€ share_sales_market ê²°ì¸¡ì¹˜: 0
share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ ë³´ì •, market ë¶€ì¬ëŠ” NaN ìœ ì§€ (is_market_missingìœ¼ë¡œ êµ¬ë¶„)

In [43]:
train.isnull().sum()

num                     0
ym                      0
oper_month_grp          0
sales_grp               0
txn_cnt_grp             0
cust_cnt_grp            0
avg_pay_grp             0
cancel_rate_grp         0
delivery_sales_ratio    0
rel_sales_ratio         0
M1_SME_RY_CNT_RAT       0
sales_rank_industry     0
sales_rank_market       0
share_sales_industry    0
share_sales_market      0
male_20below_ratio      0
male_30_ratio           0
male_40_ratio           0
male_50_ratio           0
male_60plus_ratio       0
female_20below_ratio    0
female_30_ratio         0
female_40_ratio         0
female_50_ratio         0
female_60plus_ratio     0
revisit_ratio           7
new_ratio               7
resident_ratio          0
worker_ratio            0
floating_ratio          0
biz_type                0
market                  0
open                    0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                 0
sales_estimate          0
is_franchise            0
y_month                 0
y_next_rank             0
is_cold_start           0
is_market_missing       0
is_customer_missing     0
is_behavior_missing     0
is_type_missing         0
is_delivery_missing     0
dtype: int64

---

## 2. Test ì „ì²˜ë¦¬

In [44]:
test.head()

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,floating_ratio,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start
17,000F03E44A,2024-06-01,4_50-75%,5_75-90%,5_75-90%,5_75-90%,3_25-50%,1_ìƒìœ„1êµ¬ê°„,NaN,14.2,...,83.3,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,4308.7770,0,2024-07-01,0.7,0
18,000F03E44A,2024-07-01,4_50-75%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),5_75-90%,5_75-90%,5_75-90%,1_ìƒìœ„1êµ¬ê°„,77.5,0.7,...,50.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,212.4045,0,2024-08-01,0.0,0
19,000F03E44A,2024-08-01,4_50-75%,6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),6_90%ì´ˆê³¼(í•˜ìœ„ 10% ì´í•˜),NaN,100.0,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2024-09-01,8.8,0
20,000F03E44A,2024-09-01,4_50-75%,5_75-90%,5_75-90%,5_75-90%,2_10-25%,6_ìƒìœ„6êµ¬ê°„(í•˜ìœ„1êµ¬ê°„),15.5,8.8,...,50.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,2670.2280,0,2024-10-01,2.2,0
21,000F03E44A,2024-10-01,4_50-75%,5_75-90%,5_75-90%,5_75-90%,4_50-75%,1_ìƒìœ„1êµ¬ê°„,58.0,2.2,...,33.3,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,667.5570,0,2024-11-01,0.3,0

In [45]:
test.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp          2010
delivery_sales_ratio    15932
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market       6005
male_20below_ratio        542
male_30_ratio             542
male_40_ratio             542
male_50_ratio             542
male_60plus_ratio         542
female_20below_ratio      542
female_30_ratio           542
female_40_ratio           542
female_50_ratio           542
female_60plus_ratio       542
revisit_ratio             436
new_ratio                 436
resident_ratio           2224
worker_ratio             2224
floating_ratio           2224
biz_type                    0
market                   6005
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 8
is_cold_start               0
dtype: int64

### 1. ìˆœì„œí˜• ë³€ìˆ˜
- ìˆœì„œí˜• ì¸ì½”ë”© ì²˜ë¦¬ (1~6 ìˆ«ìë¡œ ë³€í™˜)
- ê²°ì¸¡ì¹˜: ì¤‘ê°„ êµ¬ê°„(3) or ìµœë¹ˆê°’ ëŒ€ì²´

In [46]:
grp_cols = [
    'oper_month_grp', 'sales_grp', 'txn_cnt_grp', 
    'cust_cnt_grp', 'avg_pay_grp', 'cancel_rate_grp'
]

# ì¤‘ê°„ êµ¬ê°„(3_25-50%) ê°’ì´ ìˆìœ¼ë©´ ê·¸ê±¸ ìš°ì„  ì‚¬ìš©, ì•„ë‹ˆë©´ ìµœë¹ˆê°’ìœ¼ë¡œ
for c in grp_cols:
    if (test[c] == '3_25-50%').any():
        fill_val = '3_25-50%'
    else:
        fill_val = test[c].mode()[0]
    test[c] = test[c].fillna(fill_val)

# ìˆœì„œí˜• ì¸ì½”ë”©
import re

for c in grp_cols:
    # ì •ê·œí‘œí˜„ì‹ìœ¼ë¡œ ì•ì˜ ìˆ«ì ì¶”ì¶œ (ì—†ìœ¼ë©´ NaN)
    test[c] = test[c].astype(str).apply(lambda x: int(re.findall(r'^\d+', x)[0]) if re.findall(r'^\d+', x) else None)

In [47]:
test.head()

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,floating_ratio,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start
17,000F03E44A,2024-06-01,4,5,5,5,3,1,NaN,14.2,...,83.3,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,4308.7770,0,2024-07-01,0.7,0
18,000F03E44A,2024-07-01,4,6,5,5,5,1,77.5,0.7,...,50.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,212.4045,0,2024-08-01,0.0,0
19,000F03E44A,2024-08-01,4,6,6,6,6,1,100.0,0.0,...,NaN,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,0.0000,0,2024-09-01,8.8,0
20,000F03E44A,2024-09-01,4,5,5,5,2,6,15.5,8.8,...,50.0,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,2670.2280,0,2024-10-01,2.2,0
21,000F03E44A,2024-10-01,4,5,5,5,4,1,58.0,2.2,...,33.3,ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘,ëšì„¬,2022-02-25,0,667.5570,0,2024-11-01,0.3,0

### 2. ë²”ì£¼í˜• ë³€ìˆ˜(biz_type, market)

- label encoding ì§„í–‰
- market ê²°ì¸¡ì€ 'ê¸°íƒ€' ì²˜ë¦¬ + 'is_market_missing' í”Œë˜ê·¸ ë³€ìˆ˜ ì¶”ê°€

In [48]:
print(test['biz_type'].unique()[:10])
print(test['market'].unique()[:10])

<StringArray>
['ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘',       'ìš”ë¦¬ì£¼ì ',     'ë°±ë°˜/ê°€ì •ì‹',      'ì»¤í”¼ì „ë¬¸ì ',   'í•œì‹-ì°Œê°œ/ì „ê³¨',
   'ë£¸ì‚´ë¡±/ë‹¨ë€ì£¼ì ',      'í•œì‹-ëƒ‰ë©´',        'ì¶•ì‚°ë¬¼',  'í•œì‹-ë‹¨í’ˆìš”ë¦¬ì¼ë°˜',         'ì–‘ì‹']
Length: 10, dtype: string
['ëšì„¬' 'ë§ˆì¥ë™' 'ë‹µì‹­ë¦¬' 'ì„±ìˆ˜' nan 'ì™•ì‹­ë¦¬' 'ê¸ˆë‚¨ì‹œì¥' 'í•œì–‘ëŒ€' 'ì¥í•œí‰ìë™ì°¨' 'ì˜¥ìˆ˜']

In [49]:
from sklearn.preprocessing import LabelEncoder

le_biz = LabelEncoder()
le_market = LabelEncoder()

test['is_market_missing'] = test['market'].isna().astype(int)
test['market'] = test['market'].fillna('ê¸°íƒ€')

test['biz_type'] = le_biz.fit_transform(test['biz_type'].astype(str))
test['market'] = le_market.fit_transform(test['market'].astype(str))

print("biz_type ë§¤í•‘:", dict(zip(le_biz.classes_, le_biz.transform(le_biz.classes_))))
print("market ë§¤í•‘:", dict(zip(le_market.classes_, le_market.transform(le_market.classes_))))

biz_type ë§¤í•‘: {'ê±´ê°•ì‹í’ˆ': 0, 'ê±´ê°•ì›': 1, 'ê±´ì–´ë¬¼': 2, 'êµ¬ë‚´ì‹ë‹¹/í‘¸ë“œì½”íŠ¸': 3, 'ê¸°ì‚¬ì‹ë‹¹': 4, 'ê¸°íƒ€ì„¸ê³„ìš”ë¦¬': 5, 'ê¼¬ì¹˜êµ¬ì´': 6, 'ë†ì‚°ë¬¼': 7, 'ë‹´ë°°': 8, 'ë„ë„ˆì¸ ': 9, 'ë„ì‹œë½': 10, 'ë™ë‚¨ì•„/ì¸ë„ìŒì‹': 11, 'ë–¡/í•œê³¼': 12, 'ë–¡/í•œê³¼ ì œì¡°': 13, 'ë£¸ì‚´ë¡±/ë‹¨ë€ì£¼ì ': 14, 'ë§ˆì¹´ë¡±': 15, 'ë¯¸ê³¡ìƒ': 16, 'ë¯¼ì†ì£¼ì ': 17, 'ë°˜ì°¬': 18, 'ë°±ë°˜/ê°€ì •ì‹': 19, 'ë² ì´ì»¤ë¦¬': 20, 'ë¶„ì‹': 21, 'ìƒŒë“œìœ„ì¹˜/í† ìŠ¤íŠ¸': 22, 'ìˆ˜ì‚°ë¬¼': 23, 'ìŠ¤í…Œì´í¬': 24, 'ì‹ë£Œí’ˆ': 25, 'ì‹í’ˆ ì œì¡°': 26, 'ì•„ì´ìŠ¤í¬ë¦¼/ë¹™ìˆ˜': 27, 'ì–‘ì‹': 28, 'ì™€ì¸ë°”': 29, 'ì™€ì¸ìƒµ': 30, 'ì™€í”Œ/í¬ë¡œí”Œ': 31, 'ìš”ë¦¬ì£¼ì ': 32, 'ìœ ì œí’ˆ': 33, 'ì´ìì¹´ì•¼': 34, 'ì¸ì‚¼ì œí’ˆ': 35, 'ì¼ë°˜ ìœ í¥ì£¼ì ': 36, 'ì¼ì‹-ë®ë°¥/ëˆê°€ìŠ¤': 37, 'ì¼ì‹-ìƒ¤ë¸Œìƒ¤ë¸Œ': 38, 'ì¼ì‹-ìš°ë™/ì†Œë°”/ë¼ë©´': 39, 'ì¼ì‹-ì°¸ì¹˜íšŒ': 40, 'ì¼ì‹-ì´ˆë°¥/ë¡¤': 41, 'ì¼ì‹ë‹¹': 42, 'ì£¼ë¥˜': 43, 'ì£¼ìŠ¤': 44, 'ì¤‘ì‹-ë”¤ì„¬/ì¤‘ì‹ë§Œë‘': 45, 'ì¤‘ì‹-í› ê¶ˆ/ë§ˆë¼íƒ•': 46, 'ì¤‘ì‹ë‹¹': 47, 'ì°¨': 48, 'ì²­ê³¼ë¬¼': 49, 'ì¶•ì‚°ë¬¼': 50, 'ì¹˜í‚¨': 51, 'ì¹´í˜': 52, 'ì»¤í”¼ì „ë¬¸ì ': 53, 'íƒ•í›„ë£¨': 54, 'í…Œë§ˆì¹´í˜': 55, 'í…Œì´í¬ì•„ì›ƒì»¤í”¼': 56, 'í¬ì¥ë§ˆì°¨': 57, 'í”¼ì': 58, 'í•œì‹-ê°ìíƒ•': 59, 'í•œì‹-êµ­ë°¥/ì„¤ë íƒ•': 60, 'í•œì‹-êµ­ìˆ˜/ë§Œë‘': 61, 'í•œì‹-ëƒ‰ë©´': 62, 'í•œì‹-ë‹¨í’ˆìš”ë¦¬ì¼ë°˜': 63, 'í•œì‹-ë‘ë¶€ìš”ë¦¬': 64, 'í•œì‹-ìœ¡ë¥˜/ê³ ê¸°': 65, 'í•œì‹-ì£½': 66, 'í•œì‹-ì°Œê°œ/ì „ê³¨': 67, 'í•œì‹-í•´ë¬¼/ìƒì„ ': 68, 'í•œì‹ë·”í˜': 69, 'í•œì •ì‹': 70, 'í–„ë²„ê±°': 71, 'í˜¸í”„/ë§¥ì£¼': 72}
market ë§¤í•‘: {'ê±´ëŒ€ì…êµ¬': 0, 'ê¸ˆë‚¨ì‹œì¥': 1, 'ê¸°íƒ€': 2, 'ë‹µì‹­ë¦¬': 3, 'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›ì—­': 4, 'ëšì„¬': 5, 'ë§ˆì¥ë™': 6, 'ë¯¸ì•„ì‚¬ê±°ë¦¬': 7, 'ë°©ë°°ì—­': 8, 'ì„œë©´ì—­': 9, 'ì„±ìˆ˜': 10, 'ì‹ ê¸ˆí˜¸': 11, 'ì••êµ¬ì •ë¡œë°ì˜¤': 12, 'ì˜¤ë‚¨': 13, 'ì˜¥ìˆ˜': 14, 'ì™•ì‹­ë¦¬': 15, 'ìì–‘': 16, 'ì¥í•œí‰ìë™ì°¨': 17, 'í’ì‚°ì§€êµ¬': 18, 'í•œì–‘ëŒ€': 19, 'í–‰ë‹¹': 20, 'í™”ì–‘ì‹œì¥': 21}

In [50]:
test.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    15932
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market       6005
male_20below_ratio        542
male_30_ratio             542
male_40_ratio             542
male_50_ratio             542
male_60plus_ratio         542
female_20below_ratio      542
female_30_ratio           542
female_40_ratio           542
female_50_ratio           542
female_60plus_ratio       542
revisit_ratio             436
new_ratio                 436
resident_ratio           2224
worker_ratio             2224
floating_ratio           2224
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 8
is_cold_start               0
is_market_missing           0
dtype: int64

### 3. y_month(íƒ€ê¹ƒ ì›”), y_next_rank(ë‹¤ìŒ ë‹¬ íƒ€ê¹ƒ ë³€ìˆ˜)
- y_next_rankëŠ” ê°™ì€ ê°€ê²Œ ì•ˆì—ì„œ ë‹¤ìŒ ë‹¬ rel_sales_ratio ê°’ì¸ë° ë§ˆì§€ë§‰ ë‹¬ì—ëŠ” ë‹¤ìŒ ë‹¬ ë°ì´í„°ê°€ ì—†ê¸° ë•Œë¬¸ì— ê²°ì¸¡ì¹˜ê°€ ìƒê¹€

In [51]:
before = len(test)
test = test[test['y_next_rank'].notna()].reset_index(drop=True)
after = len(test)

print(f" y_next_rank ê²°ì¸¡ ì œê±° ì™„ë£Œ: {before - after}í–‰ ì œê±°ë¨ (í˜„ì¬ {after}í–‰)")

 y_next_rank ê²°ì¸¡ ì œê±° ì™„ë£Œ: 8í–‰ ì œê±°ë¨ (í˜„ì¬ 24028í–‰)

In [52]:
test.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    15929
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market       6001
male_20below_ratio        542
male_30_ratio             542
male_40_ratio             542
male_50_ratio             542
male_60plus_ratio         542
female_20below_ratio      542
female_30_ratio           542
female_40_ratio           542
female_50_ratio           542
female_60plus_ratio       542
revisit_ratio             436
new_ratio                 436
resident_ratio           2223
worker_ratio             2223
floating_ratio           2223
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
dtype: int64

### 4. ë¹„ìœ¨í˜•/ë¹„ì¤‘í˜• ë³€ìˆ˜ ì²˜ë¦¬

1. male/female/ë‚˜ì´ëŒ€ ë¹„ì¤‘ ë³€ìˆ˜
- 1152ê°œê°€ ëª¨ë‘ ê°™ì€ í–‰ 
-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [53]:
ratio_cols_demo = [
    'male_20below_ratio','male_30_ratio','male_40_ratio','male_50_ratio','male_60plus_ratio',
    'female_20below_ratio','female_30_ratio','female_40_ratio','female_50_ratio','female_60plus_ratio'
]

# ëª¨ë“  ì„±Â·ì—°ë ¹ ë¹„ìœ¨ì´ ê²°ì¸¡ì¸ í–‰ë§Œ í•„í„°ë§
mask_all_missing = test[ratio_cols_demo].isna().all(axis=1)
missing_demo_df = test[mask_all_missing]

print(f"ì „ì²´ {len(test):,}í–‰ ì¤‘ {mask_all_missing.sum():,}í–‰ì´ ì „ë¶€ ê²°ì¸¡ì…ë‹ˆë‹¤.")
missing_demo_df.head(10)

ì „ì²´ 24,028í–‰ ì¤‘ 542í–‰ì´ ì „ë¶€ ê²°ì¸¡ì…ë‹ˆë‹¤.

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,biz_type,market,open,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start,is_market_missing
12,003473B465,2024-06-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-07-01,0.0,0,0
13,003473B465,2024-07-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-08-01,0.0,0,0
14,003473B465,2024-08-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-09-01,0.0,0,0
15,003473B465,2024-09-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-10-01,0.0,0,0
16,003473B465,2024-10-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-11-01,0.0,0,0
17,003473B465,2024-11-01,3,6,6,6,6,1,NaN,0.0,...,19,5,2019-05-07,0,0.0,0,2024-12-01,0.0,0,0
348,0305234DDB,2024-06-01,3,6,6,6,6,1,NaN,0.0,...,25,10,2017-08-30,0,0.0,0,2024-07-01,0.0,0,0
349,0305234DDB,2024-07-01,3,6,6,6,6,1,NaN,0.0,...,25,10,2017-08-30,0,0.0,0,2024-08-01,0.0,0,0
350,0305234DDB,2024-08-01,3,6,6,6,6,1,NaN,0.0,...,25,10,2017-08-30,0,0.0,0,2024-09-01,0.0,0,0
351,0305234DDB,2024-09-01,3,6,6,6,6,1,NaN,0.0,...,25,10,2017-08-30,0,0.0,0,2024-10-01,0.0,0,0

In [54]:
import pandas as pd

# ===== 1ï¸. ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_demo = [
    'male_20below_ratio','male_30_ratio','male_40_ratio','male_50_ratio','male_60plus_ratio',
    'female_20below_ratio','female_30_ratio','female_40_ratio','female_50_ratio','female_60plus_ratio'
]

# ===== 2ï¸. ê²°ì¸¡ í”Œë˜ê·¸ ì¶”ê°€ (ê³ ê° ë°ì´í„° ìì²´ ì—†ëŠ” í–‰ ì‹ë³„) =====
test['is_customer_missing'] = test[ratio_cols_demo].isna().all(axis=1).astype(int)

# ===== 3ï¸. 1ì°¨ ì²˜ë¦¬: ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ ê²°ì¸¡ ëŒ€ì²´ (ì‹œê³„ì—´ êµ¬ì¡° ìœ ì§€) =====
test[ratio_cols_demo] = (
    test.groupby(['biz_type','ym'])[ratio_cols_demo]
         .transform(lambda x: x.fillna(x.median()))
)

# ===== 4ï¸. 2ì°¨ ì²˜ë¦¬: ì—¬ì „íˆ ë‚¨ì€ ê²°ì¸¡ì€ ì—…ì¢… ë‹¨ìœ„ ì „ì²´ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ =====
for col in ratio_cols_demo:
    test[col] = test[col].fillna(test.groupby('biz_type')[col].transform('median'))

# ===== 5ï¸. í™•ì¸ =====
print("ë‚¨ì€ ê²°ì¸¡ì¹˜ ê°œìˆ˜")
print(test[ratio_cols_demo].isna().sum().sort_values(ascending=False))
print(f"ê³ ê° ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_customer_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê²°ì¸¡ì¹˜ ê°œìˆ˜
male_20below_ratio      0
male_30_ratio           0
male_40_ratio           0
male_50_ratio           0
male_60plus_ratio       0
female_20below_ratio    0
female_30_ratio         0
female_40_ratio         0
female_50_ratio         0
female_60plus_ratio     0
dtype: int64
ê³ ê° ì„±Â·ì—°ë ¹ ë¹„ìœ¨ ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_customer_missing í”Œë˜ê·¸ í¬í•¨)

In [55]:
test.isnull().sum()

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    15929
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market       6001
male_20below_ratio          0
male_30_ratio               0
male_40_ratio               0
male_50_ratio               0
male_60plus_ratio           0
female_20below_ratio        0
female_30_ratio             0
female_40_ratio             0
female_50_ratio             0
female_60plus_ratio         0
revisit_ratio             436
new_ratio                 436
resident_ratio           2223
worker_ratio             2223
floating_ratio           2223
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
is_customer_missing         0
dtype: int64

2. revisit, new ratio ë³€ìˆ˜
- ê°™ì€ í–‰ ê²°ì¸¡ì¹˜ì„ 
-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [56]:
# ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡ì¸ í–‰ ì°¾ê¸°
mask_behavior_missing = test[['revisit_ratio','new_ratio']].isna().all(axis=1)

# í†µê³„ ìš”ì•½
print(f"ì „ì²´ {len(test):,}í–‰ ì¤‘ ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: {mask_behavior_missing.sum():,}í–‰")

# ìƒ˜í”Œ ì¶œë ¥
test.loc[mask_behavior_missing, ['num','ym','revisit_ratio','new_ratio']].head(10)

ì „ì²´ 24,028í–‰ ì¤‘ ë‘ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: 436í–‰

            num         ym  revisit_ratio  new_ratio
12   003473B465 2024-06-01            NaN        NaN
13   003473B465 2024-07-01            NaN        NaN
14   003473B465 2024-08-01            NaN        NaN
15   003473B465 2024-09-01            NaN        NaN
16   003473B465 2024-10-01            NaN        NaN
17   003473B465 2024-11-01            NaN        NaN
348  0305234DDB 2024-06-01            NaN        NaN
349  0305234DDB 2024-07-01            NaN        NaN
350  0305234DDB 2024-08-01            NaN        NaN
351  0305234DDB 2024-09-01            NaN        NaN

In [57]:
# ===== 1ï¸. ê³ ê° í–‰ë™ ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_behavior = ['revisit_ratio', 'new_ratio']

# ===== 2ï¸. ë‘ ì»¬ëŸ¼ì´ ë™ì‹œì— ê²°ì¸¡ì¸ í–‰ í”Œë˜ê·¸ ì¶”ê°€ =====
test['is_behavior_missing'] = test[ratio_cols_behavior].isna().all(axis=1).astype(int)

# ===== 3ï¸. ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ =====
test[ratio_cols_behavior] = (
    test.groupby(['biz_type', 'ym'])[ratio_cols_behavior]
         .transform(lambda x: x.fillna(x.median()))
)

print("ë‚¨ì€ ê³ ê° í–‰ë™ ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(test[ratio_cols_behavior].isna().sum())
print(" revisit_ratio, new_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_behavior_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê³ ê° í–‰ë™ ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:
revisit_ratio    0
new_ratio        0
dtype: int64
 revisit_ratio, new_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_behavior_missing í”Œë˜ê·¸ í¬í•¨)

In [58]:
test['is_behavior_missing'] = test[ratio_cols_behavior].isna().all(axis=1).astype(int)

3. resident_ratio, worker_ratio, floating_ratio
- ë™ì¼ í–‰ ê²°ì¸¡ì¹˜-> ê³ ê° íŠ¹ì„± ê²°ì¸¡ í”Œë˜ê·¸ + ì—…ì¢…*ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [59]:
mask_type_missing = test[['resident_ratio','worker_ratio','floating_ratio']].isna().all(axis=1)

print(f"ì „ì²´ {len(test):,}í–‰ ì¤‘ ì„¸ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: {mask_type_missing.sum():,}í–‰")

test.loc[mask_type_missing, ['num','ym','resident_ratio','worker_ratio','floating_ratio']].head(10)

ì „ì²´ 24,028í–‰ ì¤‘ ì„¸ ì»¬ëŸ¼ ëª¨ë‘ ê²°ì¸¡: 2,223í–‰

           num         ym  resident_ratio  worker_ratio  floating_ratio
2   000F03E44A 2024-08-01             NaN           NaN             NaN
12  003473B465 2024-06-01             NaN           NaN             NaN
13  003473B465 2024-07-01             NaN           NaN             NaN
14  003473B465 2024-08-01             NaN           NaN             NaN
15  003473B465 2024-09-01             NaN           NaN             NaN
16  003473B465 2024-10-01             NaN           NaN             NaN
17  003473B465 2024-11-01             NaN           NaN             NaN
60  0080644746 2024-06-01             NaN           NaN             NaN
61  0080644746 2024-07-01             NaN           NaN             NaN
62  0080644746 2024-08-01             NaN           NaN             NaN

In [60]:
# ===== 1ï¸. ê³ ê° ìœ í˜• ë¹„ìœ¨ ì»¬ëŸ¼ ì§€ì • =====
ratio_cols_customer_type = ['resident_ratio', 'worker_ratio', 'floating_ratio']

# ===== 2ï¸. ì„¸ ì»¬ëŸ¼ì´ ëª¨ë‘ ê²°ì¸¡ì¸ í–‰ í”Œë˜ê·¸ ì¶”ê°€ =====
test['is_type_missing'] = test[ratio_cols_customer_type].isna().all(axis=1).astype(int)

# ===== 3ï¸. ì—…ì¢… Ã— ì›” ê¸°ì¤€ ì¤‘ì•™ê°’ìœ¼ë¡œ 1ì°¨ ëŒ€ì²´ =====
test[ratio_cols_customer_type] = (
    test.groupby(['biz_type','ym'])[ratio_cols_customer_type]
         .transform(lambda x: x.fillna(x.median()))
)

# ===== 4ï¸. ì—…ì¢… ë‹¨ìœ„ ì¤‘ì•™ê°’ìœ¼ë¡œ 2ì°¨ ëŒ€ì²´ =====
for col in ratio_cols_customer_type:
    test[col] = test[col].fillna(test.groupby('biz_type')[col].transform('median'))


# ===== 5. í™•ì¸ =====
print("ë‚¨ì€ ê³ ê° ìœ í˜• ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(test[ratio_cols_customer_type].isna().sum())
print("resident_ratio, worker_ratio, floating_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_type_missing í”Œë˜ê·¸ í¬í•¨)")

ë‚¨ì€ ê³ ê° ìœ í˜• ë¹„ìœ¨ ê²°ì¸¡ì¹˜ ê°œìˆ˜:
resident_ratio    0
worker_ratio      0
floating_ratio    0
dtype: int64
resident_ratio, worker_ratio, floating_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_type_missing í”Œë˜ê·¸ í¬í•¨)

In [61]:
test['is_type_missing'] = test[ratio_cols_customer_type].isna().all(axis=1).astype(int)

In [62]:
test.isnull().sum() # ë‘ê°œ ë‚¨ì•˜ë“œì•„ì•„ã…ã…‡ì•„ì•„!!!!!!!!!ã… ã… ã… ã… ..

num                         0
ym                          0
oper_month_grp              0
sales_grp                   0
txn_cnt_grp                 0
cust_cnt_grp                0
avg_pay_grp                 0
cancel_rate_grp             0
delivery_sales_ratio    15929
rel_sales_ratio             0
M1_SME_RY_CNT_RAT           0
sales_rank_industry         0
sales_rank_market           0
share_sales_industry        0
share_sales_market       6001
male_20below_ratio          0
male_30_ratio               0
male_40_ratio               0
male_50_ratio               0
male_60plus_ratio           0
female_20below_ratio        0
female_30_ratio             0
female_40_ratio             0
female_50_ratio             0
female_60plus_ratio         0
revisit_ratio               0
new_ratio                   0
resident_ratio              0
worker_ratio                0
floating_ratio              0
biz_type                    0
market                      0
open                        0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                     0
sales_estimate              0
is_franchise                0
y_month                     0
y_next_rank                 0
is_cold_start               0
is_market_missing           0
is_customer_missing         0
is_behavior_missing         0
is_type_missing             0
dtype: int64

4. delivery_sales_ratio: ë°°ë‹¬ ë§¤ì¶œ ë¹„ìœ¨
- NaNì˜ ì˜ë¯¸ = â€œë°°ë‹¬ì„ í•˜ì§€ ì•ŠëŠ”ë‹¤.â€
- ì¦‰, â€œ0%â€ë¡œ ì²˜ë¦¬

In [63]:
# 1ï¸. ê²°ì¸¡ í”Œë˜ê·¸ ìƒì„±
test['is_delivery_missing'] = test['delivery_sales_ratio'].isna().astype(int)

# 2ï¸. ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ëŒ€ì²´ (ë°°ë‹¬ ì•ˆí•¨)
test['delivery_sales_ratio'] = test['delivery_sales_ratio'].fillna(0)

# 3ï¸. í™•ì¸
print("delivery_sales_ratio ë‚¨ì€ ê²°ì¸¡ì¹˜:", test['delivery_sales_ratio'].isna().sum())
print("delivery_sales_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_delivery_missing í”Œë˜ê·¸ í¬í•¨)")

delivery_sales_ratio ë‚¨ì€ ê²°ì¸¡ì¹˜: 0
delivery_sales_ratio ê²°ì¸¡ ì²˜ë¦¬ ì™„ë£Œ! (is_delivery_missing í”Œë˜ê·¸ í¬í•¨)

5. share_sales_market
- ìƒê¶Œì´ ì¡´ì¬í•˜ì§€ ì•Šì•„ ê°’ì„ êµ¬í•˜ì§€ ëª»í•¨â€ì„ í”Œë˜ê·¸ë¡œ ëª…ì‹œí•˜ê³ , ê°’ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [64]:
# 1ï¸. í”Œë˜ê·¸ ì´ë¯¸ ì¡´ì¬ (is_market_missing)
# 2ï¸. share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ (ê°’ ì˜ë¯¸ ìœ ì§€)
test['share_sales_market'] = (
    test.groupby(['biz_type','ym'])['share_sales_market']
         .transform(lambda x: x.fillna(x.median()))
)

# 3ï¸. ì—…ì¢… ë‹¨ìœ„ ì¤‘ì•™ê°’ìœ¼ë¡œ 2ì°¨ ë³´ì • (ì¼ë¶€ ì›” í‘œë³¸ ì—†ìŒ ëŒ€ë¹„)
test['share_sales_market'] = test['share_sales_market'].fillna(
    test.groupby('biz_type')['share_sales_market'].transform('median')
)

# 4ï¸. ì „ì²´ ë°ì´í„° ê¸°ì¤€ í‰ê· ê°’ìœ¼ë¡œ ìµœì¢… ë³´ì •
median = test['share_sales_market'].median()
test['share_sales_market'] = test['share_sales_market'].fillna(median)

# í”Œë˜ê·¸ëŠ” is_market_missingìœ¼ë¡œ ì—°ê²°
print("ë‚¨ì€ share_sales_market ê²°ì¸¡ì¹˜:", test['share_sales_market'].isna().sum())
print("share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ ë³´ì •, market ë¶€ì¬ëŠ” NaN ìœ ì§€ (is_market_missingìœ¼ë¡œ êµ¬ë¶„)")

ë‚¨ì€ share_sales_market ê²°ì¸¡ì¹˜: 0
share_sales_market ê²°ì¸¡ì€ ì—…ì¢…Ã—ì›” ì¤‘ì•™ê°’ ë³´ì •, market ë¶€ì¬ëŠ” NaN ìœ ì§€ (is_market_missingìœ¼ë¡œ êµ¬ë¶„)

In [65]:
test.isnull().sum()

num                     0
ym                      0
oper_month_grp          0
sales_grp               0
txn_cnt_grp             0
cust_cnt_grp            0
avg_pay_grp             0
cancel_rate_grp         0
delivery_sales_ratio    0
rel_sales_ratio         0
M1_SME_RY_CNT_RAT       0
sales_rank_industry     0
sales_rank_market       0
share_sales_industry    0
share_sales_market      0
male_20below_ratio      0
male_30_ratio           0
male_40_ratio           0
male_50_ratio           0
male_60plus_ratio       0
female_20below_ratio    0
female_30_ratio         0
female_40_ratio         0
female_50_ratio         0
female_60plus_ratio     0
revisit_ratio           0
new_ratio               0
resident_ratio          0
worker_ratio            0
floating_ratio          0
biz_type                0
market                  0
open                    0
í”„ëœì°¨ì´ì¦ˆì—¬ë¶€                 0
sales_estimate          0
is_franchise            0
y_month                 0
y_next_rank             0
is_cold_start           0
is_market_missing       0
is_customer_missing     0
is_behavior_missing     0
is_type_missing         0
is_delivery_missing     0
dtype: int64

---

# 4. ìŠ¬ë¼ì´ë”© ë°ì´í„°ì…‹ ìƒì„±

In [66]:
train.columns

Index(['num', 'ym', 'oper_month_grp', 'sales_grp', 'txn_cnt_grp',
       'cust_cnt_grp', 'avg_pay_grp', 'cancel_rate_grp',
       'delivery_sales_ratio', 'rel_sales_ratio', 'M1_SME_RY_CNT_RAT',
       'sales_rank_industry', 'sales_rank_market', 'share_sales_industry',
       'share_sales_market', 'male_20below_ratio', 'male_30_ratio',
       'male_40_ratio', 'male_50_ratio', 'male_60plus_ratio',
       'female_20below_ratio', 'female_30_ratio', 'female_40_ratio',
       'female_50_ratio', 'female_60plus_ratio', 'revisit_ratio', 'new_ratio',
       'resident_ratio', 'worker_ratio', 'floating_ratio', 'biz_type',
       'market', 'open', 'í”„ëœì°¨ì´ì¦ˆì—¬ë¶€', 'sales_estimate', 'is_franchise',
       'y_month', 'y_next_rank', 'is_cold_start', 'is_market_missing',
       'is_customer_missing', 'is_behavior_missing', 'is_type_missing',
       'is_delivery_missing'],
      dtype='object')

In [67]:
train.head()

,num,ym,oper_month_grp,sales_grp,txn_cnt_grp,cust_cnt_grp,avg_pay_grp,cancel_rate_grp,delivery_sales_ratio,rel_sales_ratio,...,sales_estimate,is_franchise,y_month,y_next_rank,is_cold_start,is_market_missing,is_customer_missing,is_behavior_missing,is_type_missing,is_delivery_missing
0,000F03E44A,2023-03-01,5,6,6,6,6,1,0.0,0.0,...,0.0000,0,2023-04-01,1.3,0,0,0,0,0,1
1,000F03E44A,2023-04-01,5,6,5,5,3,1,0.0,1.3,...,305.9134,0,2023-05-01,0.0,0,0,0,0,0,1
2,000F03E44A,2023-05-01,5,6,5,5,6,1,0.0,0.0,...,0.0000,0,2023-06-01,0.1,0,0,0,0,0,1
3,000F03E44A,2023-06-01,5,6,5,5,6,1,0.0,0.1,...,23.5318,0,2023-07-01,0.0,0,0,0,0,0,1
4,000F03E44A,2023-07-01,5,6,6,6,6,1,0.0,0.0,...,0.0000,0,2023-08-01,0.0,0,0,0,0,0,1

- ê³ ì • íŠ¹ì„±ì€ 1ê°œë§Œ ìœ ì§€, ì‹œê³„ì—´ ë³€ìˆ˜ë§Œ ìœˆë„ìš° ì²˜ë¦¬
- ê° ì‹œê³„ì—´ ë³€ìˆ˜(A)ì˜ ìµœê·¼ 3ê°œì›” í‰ê· /í‘œì¤€í¸ì°¨/ë§ˆì§€ë§‰ê°’ ìƒì„± -> 1ì°¨ ëª¨ë¸ë§í•˜ê¸°ì— ê°œë³„ ì›”ë³„ í”¼ì²˜ë³´ë‹¤ ìš”ì•½í˜•ì´ ìœ ë¦¬í•¨

In [68]:
import pandas as pd
import numpy as np

def make_sliding_dataset(df, window=3, target_col='y_next_rank'):
    """
    ìµœê·¼ nê°œì›”(window) ë°ì´í„°ë¥¼ ì…ë ¥(X), ë‹¤ìŒ ë‹¬(target_col)ì„ ì¶œë ¥(y)ìœ¼ë¡œ í•˜ëŠ” ìŠ¬ë¼ì´ë”© ìœˆë„ìš° ë°ì´í„°ì…‹ ìƒì„±
    - ê³ ì • í”¼ì²˜(fixed_cols)ëŠ” 1ê°œ ê°’ë§Œ ìœ ì§€
    - ì‹œê³„ì—´ í”¼ì²˜(time_cols)ëŠ” ìµœê·¼ windowê°œì›” í‰ê· , í‘œì¤€í¸ì°¨, ë§ˆì§€ë§‰ê°’ìœ¼ë¡œ ìš”ì•½
    """

    df = df.sort_values(['num', 'ym']).reset_index(drop=True)
    result_rows = []

    # --- 1ï¸. ê³ ì • ë³€ìˆ˜ / ì‹œê³„ì—´ ë³€ìˆ˜ êµ¬ë¶„ ---
    fixed_cols = [
        'num', 'biz_type', 'market', 'is_franchise', 'open',
        'is_cold_start', 'is_market_missing'
    ]
    exclude_cols = fixed_cols + ['ym', 'y_month', target_col]
    time_cols = [c for c in df.columns if c not in exclude_cols]

    for num, group in df.groupby('num'):
        group = group.sort_values('ym').reset_index(drop=True)
        if len(group) <= window:
            continue

        for i in range(len(group) - window):
            window_df = group.iloc[i:i+window]
            target_row = group.iloc[i+window]

            # --- 2ï¸. ì‹œê³„ì—´ ë³€ìˆ˜ ìš”ì•½ (í‰ê· , í‘œì¤€í¸ì°¨, ë§ˆì§€ë§‰ê°’) ---
            mean_features = window_df[time_cols].mean().add_suffix('_mean')
            std_features = window_df[time_cols].std().add_suffix('_std')
            last_features = window_df[time_cols].iloc[-1].add_suffix('_last')

            # --- 3ï¸. ê³ ì • ë³€ìˆ˜ (ë³€í•˜ì§€ ì•ŠëŠ” íŠ¹ì„±) ---
            fixed_info = target_row[fixed_cols]  # ë§ˆì§€ë§‰ ë‹¬ ê¸°ì¤€ìœ¼ë¡œ ìœ ì§€

            # --- 4ï¸. ë©”íƒ€ ì •ë³´ ---
            meta = {
                'base_ym': window_df['ym'].iloc[-1],
                'target_ym': target_row['ym'],
                'y': target_row[target_col],
            }

            row = pd.concat([fixed_info, pd.Series(meta), mean_features, std_features, last_features])
            result_rows.append(row)

    sliding_df = pd.DataFrame(result_rows)
    return sliding_df.reset_index(drop=True)

In [69]:
train_sliding = make_sliding_dataset(train, window=3, target_col='y_next_rank')

In [70]:
test_sliding = make_sliding_dataset(test, window=3, target_col='y_next_rank')

- í™•ì¸

In [71]:
print(f" ìŠ¬ë¼ì´ë”© ë°ì´í„°ì…‹ í¬ê¸°: {train_sliding.shape}")
print(train_sliding.columns)   # ì•ë¶€ë¶„ ì»¬ëŸ¼ êµ¬ì¡° í™•ì¸

 ìŠ¬ë¼ì´ë”© ë°ì´í„°ì…‹ í¬ê¸°: (40856, 112)
Index(['num', 'biz_type', 'market', 'is_franchise', 'open', 'is_cold_start',
       'is_market_missing', 'base_ym', 'target_ym', 'y',
       ...
       'new_ratio_last', 'resident_ratio_last', 'worker_ratio_last',
       'floating_ratio_last', 'í”„ëœì°¨ì´ì¦ˆì—¬ë¶€_last', 'sales_estimate_last',
       'is_customer_missing_last', 'is_behavior_missing_last',
       'is_type_missing_last', 'is_delivery_missing_last'],
      dtype='object', length=112)

In [72]:
train_sliding.head()

,num,biz_type,market,is_franchise,open,is_cold_start,is_market_missing,base_ym,target_ym,y,...,new_ratio_last,resident_ratio_last,worker_ratio_last,floating_ratio_last,í”„ëœì°¨ì´ì¦ˆì—¬ë¶€_last,sales_estimate_last,is_customer_missing_last,is_behavior_missing_last,is_type_missing_last,is_delivery_missing_last
0,000F03E44A,45,5,0,2022-02-25,0,0,2023-05-01,2023-06-01,0.0,...,33.33,0.0,0.0,100.0,0.0,0.0000,0.0,0.0,0.0,1.0
1,000F03E44A,45,5,0,2022-02-25,0,0,2023-06-01,2023-07-01,0.0,...,25.00,0.0,0.0,100.0,0.0,23.5318,0.0,0.0,0.0,1.0
2,000F03E44A,45,5,0,2022-02-25,0,0,2023-07-01,2023-08-01,0.3,...,0.00,0.0,0.0,100.0,0.0,0.0000,0.0,0.0,0.0,1.0
3,000F03E44A,45,5,0,2022-02-25,0,0,2023-08-01,2023-09-01,0.0,...,0.00,0.0,0.0,100.0,0.0,0.0000,0.0,0.0,0.0,1.0
4,000F03E44A,45,5,0,2022-02-25,0,0,2023-09-01,2023-10-01,0.0,...,20.00,0.0,0.0,100.0,0.0,70.5954,0.0,0.0,0.0,1.0

- ë‚´ë³´ë‚´ê¸°

In [73]:
# train ìŠ¬ë¼ì´ë”© ë°ì´í„° ì €ì¥
train_sliding.to_csv("C:/Users/eunseok/Desktop/ë¹…ì½˜í…ŒìŠ¤íŠ¸/train_sliding_sales.csv", index=False, encoding='utf-8-sig')

# test ìŠ¬ë¼ì´ë”© ë°ì´í„° ì €ì¥
test_sliding.to_csv("C:/Users/eunseok/Desktop/ë¹…ì½˜í…ŒìŠ¤íŠ¸/test_sliding_sales.csv", index=False, encoding='utf-8-sig')